
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612936136716714576.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-612936136716714576.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-612936136716714576.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612936136716714576.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612936136716714576.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612936136716714576.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612936136716714576.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612936136716714576.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612936136716714576.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612936136716714576.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612936136716714576.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612936136716714576.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612936136716714576.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612936136716714576.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612936136716714576.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-612936136716714576.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612936136716714576.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612936136716714576.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612936136716714576.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612936136716714576.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612936136716714576.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612936136716714576.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612936136716714576.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612936136716714576.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612936136716714576.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612936136716714576.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612936136716714576.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612936136716714576.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-612936136716714576.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612936136716714576.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-612936136716714576.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612936136716714576.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612936136716714576.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612936136716714576.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612936136716714576.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-612936136716714576.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-612936136716714576.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-612936136716714576.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-612936136716714576.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612936136716714576.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612936136716714576.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612936136716714576.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612936136716714576.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612936136716714576.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612936136716714576.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612936136716714576.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612936136716714576.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-612936136716714576.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612936136716714576.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-612936136716714576.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612936136716714576.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-612936136716714576.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-612936136716714576.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612936136716714576.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-612936136716714576.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-612936136716714576.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612936136716714576.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-612936136716714576.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-612936136716714576.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612936136716714576.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612936136716714576.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-612936136716714576.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-612936136716714576.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-612936136716714576.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-612936136716714576.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-612936136716714576.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612936136716714576.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-612936136716714576.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-612936136716714576.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612936136716714576.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-612936136716714576.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-612936136716714576.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-612936136716714576.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-612936136716714576.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-612936136716714576.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612936136716714576.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612936136716714576.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-612936136716714576.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-612936136716714576.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-612936136716714576.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-612936136716714576.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-612936136716714576 .gp-relative{position:relative}.gps-612936136716714576 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612936136716714576 .gp-mb-0{margin-bottom:0}.gps-612936136716714576 .gp-inline-block{display:inline-block}.gps-612936136716714576 .gp-flex{display:flex}.gps-612936136716714576 .gp-grid{display:grid}.gps-612936136716714576 .gp-contents{display:contents}.gps-612936136716714576 .\!gp-hidden{display:none!important}.gps-612936136716714576 .gp-hidden{display:none}.gps-612936136716714576 .gp-h-full{height:100%}.gps-612936136716714576 .gp-w-full{width:100%}.gps-612936136716714576 .gp-max-w-full{max-width:100%}.gps-612936136716714576 .gp-flex-1{flex:1 1 0%}.gps-612936136716714576 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612936136716714576 .gp-flex-col{flex-direction:column}.gps-612936136716714576 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612936136716714576 .gp-duration-200{transition-duration:.2s}.gps-612936136716714576 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-612936136716714576 .tablet\:\!gp-hidden{display:none!important}.gps-612936136716714576 .tablet\:gp-hidden{display:none}.gps-612936136716714576 .tablet\:gp-h-full{height:100%}.gps-612936136716714576 .tablet\:gp-flex-1{flex:1 1 0%}}@media (max-width:767px){.gps-612936136716714576 .mobile\:\!gp-hidden{display:none!important}.gps-612936136716714576 .mobile\:gp-hidden{display:none}.gps-612936136716714576 .mobile\:gp-h-auto{height:auto}.gps-612936136716714576 .mobile\:gp-flex-none{flex:none}}.gps-612936136716714576 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g3_pWpZ7Hc"}' data-id="g3_pWpZ7Hc" id="g3_pWpZ7Hc" data-same-height-subgrid-container class="g3_pWpZ7Hc gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:var(--g-s-2xl);--pl:0px;--pb:var(--g-s-2xl);--pr:0px;--pt-tablet:var(--g-s-2xl);--pl-tablet:0px;--pb-tablet:var(--g-s-2xl);--pr-tablet:0px;--pt-mobile:5px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXxXGXrNBq gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gzol3EwMlU"
        class="gzol3EwMlU"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--ml-mobile:0px;--mb-mobile:20px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--mb-tablet:20px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-ABCRepro, 'ABCRepro'), var(--g-font-heading, heading);--size:46px;--size-tablet:32px;--size-mobile:32px;--lh:52px;--lh-tablet:default;--lh-mobile:34px;--ls:-1px;--weight:bold;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggzol3EwMlU_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gNcN16uIjI"}' data-id="gNcN16uIjI" id="gNcN16uIjI" data-same-height-subgrid-container class="gNcN16uIjI gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:8px;--pt:0px;--pl:60px;--pr:60px;--mb-tablet:0px;--mb-mobile:0px;--pl-mobile:20px;--pr-mobile:20px;--cg:60px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-tablet:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:1600px;--w-tablet:var(--g-ct-w, 100%);--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gr-JFC8E3- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gvK3gIdSIc"
        class="gvK3gIdSIc"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:none;--d-mobile:block;--d-tablet:none;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--ml-mobile:0px;--mb-mobile:20px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:20px;--pl-tablet:15px;--pb-tablet:0px;--pr-tablet:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-ABCRepro, 'ABCRepro'), var(--g-font-heading, heading);--size:32px;--size-tablet:32px;--size-mobile:32px;--lh:default;--lh-tablet:default;--lh-mobile:38px;--ls:-1px;--weight:bold;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggvK3gIdSIc_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gv047f6xVF"}' data-id="gv047f6xVF" id="gv047f6xVF" data-same-height-subgrid-container class="gv047f6xVF gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="ghp9NHr94c gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gLwBJKA3Qp"
        class="gLwBJKA3Qp"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-mobile:0px;--pl-mobile:10px;--pb-mobile:0px;--pr-mobile:10px;--mb-tablet:50px;--pl-tablet:15px;--pr-tablet:15px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:16px;--lh:Auto;--lh-tablet:Auto;--lh-mobile:Auto;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggLwBJKA3Qp_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gM7pktfln4 gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gGFXGrmdiq"}' data-id="gGFXGrmdiq" id="gGFXGrmdiq" data-same-height-subgrid-container class="gGFXGrmdiq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:20px;--mb-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gHpN2btY-v gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gxZiH0WJ8d"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:20px;--bbrr:20px;--btlr:20px;--btrr:20px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-tablet:50px;--pt-tablet:20px;--pl-tablet:40px;--pb-tablet:20px;--pr-tablet:40px;--mt-mobile:14px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--ta:center"
      class="gp-group/image gp-relative force-publish-1774953219176 gp-flex-1 gp-h-full mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-1 tablet:gp-h-full gxZiH0WJ8d"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggxZiH0WJ8d_srcSet_mobile_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTIwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMCIgdG89IjEyMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggxZiH0WJ8d_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTIwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMCIgdG89IjEyMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggxZiH0WJ8d_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xMjAwLTEyMDAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjEyMDAiIGhlaWdodD0iMTIwMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTIwMCIgaGVpZ2h0PSIxMjAwIiBmaWxsPSJ1cmwoI2ctMTIwMC0xMjAwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTIwMCIgdG89IjEyMDAiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggxZiH0WJ8d_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect-mobile:auto;--objf:contain;--objf-mobile:cover;--w:100%;--w-tablet:100%;--h:100%;--h-tablet:100%;--h-mobile:auto;--b:none;--btrr:10px;--bblr:10px;--bbrr:10px;--btlr:10px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-612936136716714576 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=612931265150059088&sectionId=612936136716714576)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggzol3EwMlU_text","label":"ggzol3EwMlU_text","default":"<span style=\"color:#17162E;\">Made in Italy. By a Family That's</span><br><span style=\"color:#17162E;\">Been Doing This for Decades.</span>"},{"type":"html","id":"ggvK3gIdSIc_text","label":"ggvK3gIdSIc_text","default":"Made in Italy. By a Family That's Been Doing This for Decades."},{"type":"html","id":"ggLwBJKA3Qp_text","label":"ggLwBJKA3Qp_text","default":"<p>SerlinoLab products are developed and manufactured in a family-owned laboratory in Italy. Not a factory. Not mass-produced. Small batches, premium ingredients sourced from Italian suppliers, and formulations refined over decades.</p><p>&nbsp;</p><p>This is the standard Italian men have trusted for years. Now it's yours.</p>"},{"type":"html","id":"ggxZiH0WJ8d_srcSet_desktop_src","label":"ggxZiH0WJ8d_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0871/6681/2407/files/Lab_photo_with_Founders_v2_copy.webp"},{"type":"html","id":"ggxZiH0WJ8d_srcSet_mobile_src","label":"ggxZiH0WJ8d_srcSet_mobile_src","default":"https://cdn.shopify.com/s/files/1/0871/6681/2407/files/Lab_photo_with_Founders_v2_copy.webp"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}