
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604265801930769071.gps.gpsil [style*="--ai:"]{align-items:var(--ai)}.gps-604265801930769071.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-604265801930769071.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-604265801930769071.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604265801930769071.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604265801930769071.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604265801930769071.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604265801930769071.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604265801930769071.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604265801930769071.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604265801930769071.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604265801930769071.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604265801930769071.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604265801930769071.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604265801930769071.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604265801930769071.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-604265801930769071.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604265801930769071.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604265801930769071.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604265801930769071.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604265801930769071.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604265801930769071.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604265801930769071.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604265801930769071.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604265801930769071.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-604265801930769071.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-604265801930769071.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-604265801930769071.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604265801930769071.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604265801930769071.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604265801930769071.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-604265801930769071.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-604265801930769071.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-604265801930769071.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604265801930769071.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-604265801930769071.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-604265801930769071.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-604265801930769071.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-604265801930769071.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-604265801930769071.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604265801930769071.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604265801930769071.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604265801930769071.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604265801930769071.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604265801930769071.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604265801930769071.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604265801930769071.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604265801930769071.gps.gpsil [style*="--pos:"]{position:var(--pos)}.gps-604265801930769071.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604265801930769071.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604265801930769071.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-604265801930769071.gps.gpsil [style*="--top:"]{top:var(--top)}.gps-604265801930769071.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604265801930769071.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-604265801930769071.gps.gpsil [style*="--ai-tablet:"]{align-items:var(--ai-tablet)}.gps-604265801930769071.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-604265801930769071.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-604265801930769071.gps.gpsil [style*="--gtc-tablet:"]{grid-template-columns:var(--gtc-tablet)}.gps-604265801930769071.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604265801930769071.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-604265801930769071.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-604265801930769071.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-604265801930769071.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-604265801930769071.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-604265801930769071.gps.gpsil [style*="--o-tablet:"]{order:var(--o-tablet)}.gps-604265801930769071.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-604265801930769071.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604265801930769071.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604265801930769071.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-604265801930769071.gps.gpsil [style*="--pos-tablet:"]{position:var(--pos-tablet)}.gps-604265801930769071.gps.gpsil [style*="--top-tablet:"]{top:var(--top-tablet)}.gps-604265801930769071.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-604265801930769071.gps.gpsil [style*="--ai-mobile:"]{align-items:var(--ai-mobile)}.gps-604265801930769071.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-604265801930769071.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-604265801930769071.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-604265801930769071.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604265801930769071.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-604265801930769071.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-604265801930769071.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-604265801930769071.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-604265801930769071.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-604265801930769071.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-604265801930769071.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604265801930769071.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604265801930769071.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-604265801930769071.gps.gpsil [style*="--pos-mobile:"]{position:var(--pos-mobile)}.gps-604265801930769071.gps.gpsil [style*="--top-mobile:"]{top:var(--top-mobile)}.gps-604265801930769071.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-604265801930769071 .gp-relative{position:relative}.gps-604265801930769071 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604265801930769071 .gp-mb-0{margin-bottom:0}.gps-604265801930769071 .gp-inline-block{display:inline-block}.gps-604265801930769071 .gp-flex{display:flex}.gps-604265801930769071 .gp-inline-flex{display:inline-flex}.gps-604265801930769071 .gp-grid{display:grid}.gps-604265801930769071 .gp-contents{display:contents}.gps-604265801930769071 .\!gp-hidden{display:none!important}.gps-604265801930769071 .gp-hidden{display:none}.gps-604265801930769071 .gp-h-auto{height:auto}.gps-604265801930769071 .gp-h-full{height:100%}.gps-604265801930769071 .gp-w-full{width:100%}.gps-604265801930769071 .gp-max-w-full{max-width:100%}.gps-604265801930769071 .gp-flex-none{flex:none}.gps-604265801930769071 .gp-shrink-0{flex-shrink:0}.gps-604265801930769071 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604265801930769071 .gp-flex-col{flex-direction:column}.gps-604265801930769071 .gp-items-center{align-items:center}.gps-604265801930769071 .gp-justify-center{justify-content:center}.gps-604265801930769071 .gp-overflow-hidden{overflow:hidden}.gps-604265801930769071 .gp-border{border-width:1px}.gps-604265801930769071 .gp-border-transparent{border-color:transparent}.gps-604265801930769071 .gp-text-left{text-align:left}.gps-604265801930769071 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604265801930769071 .gp-duration-200{transition-duration:.2s}.gps-604265801930769071 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-604265801930769071 .tablet\:\!gp-hidden{display:none!important}.gps-604265801930769071 .tablet\:gp-hidden{display:none}.gps-604265801930769071 .tablet\:gp-h-auto{height:auto}.gps-604265801930769071 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-604265801930769071 .mobile\:\!gp-hidden{display:none!important}.gps-604265801930769071 .mobile\:gp-hidden{display:none}.gps-604265801930769071 .mobile\:gp-h-auto{height:auto}.gps-604265801930769071 .mobile\:gp-flex-none{flex:none}}.gps-604265801930769071 .\[\&\>svg\]\:\!gp-h-\[var\(--size-desktop\)\]>svg{height:var(--size-desktop)!important}.gps-604265801930769071 .\[\&\>svg\]\:\!gp-w-\[var\(--size-desktop\)\]>svg{width:var(--size-desktop)!important}@media (max-width:1024px){.gps-604265801930769071 .tablet\:\[\&\>svg\]\:\!gp-h-\[var\(--size-tablet\)\]>svg{height:var(--size-tablet)!important}.gps-604265801930769071 .tablet\:\[\&\>svg\]\:\!gp-w-\[var\(--size-tablet\)\]>svg{width:var(--size-tablet)!important}}@media (max-width:767px){.gps-604265801930769071 .mobile\:\[\&\>svg\]\:\!gp-h-\[var\(--size-mobile\)\]>svg{height:var(--size-mobile)!important}.gps-604265801930769071 .mobile\:\[\&\>svg\]\:\!gp-w-\[var\(--size-mobile\)\]>svg{width:var(--size-mobile)!important}}.gps-604265801930769071 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px))"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gSM7alh5Re"}' data-id="gSM7alh5Re" id="gSM7alh5Re" data-same-height-subgrid-container class="gSM7alh5Re gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--ml:auto;--mb:10px;--pt:0px;--pl:35px;--pb:0px;--pr:35px;--pt-mobile:48px;--pl-mobile:20px;--pb-mobile:48px;--pr-mobile:20px;--pt-tablet:0px;--pl-tablet:18px;--pb-tablet:0px;--pr-tablet:18px;--cg:32px;--gtc:minmax(0, 12fr);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gU1PFJfuZw gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gOy3FujqO0"}' data-id="gOy3FujqO0" id="gOy3FujqO0" data-same-height-subgrid-container class="gOy3FujqO0 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--mb-mobile:0px;--mb-tablet:0px;--cg:100px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-tablet:minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:100%;--w-tablet:var(--g-ct-w, 100%);--w-mobile:var(--g-ct-w, 100%);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center;--o:1;--o-tablet:1"
      class="gqXxw3b6OP gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ghcxJ5ZKyH"
        class="ghcxJ5ZKyH"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:32px;--pr:40px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:20px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:20px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ff:var(--g-font-ABCRepro, 'ABCRepro'), var(--g-font-heading, heading);--weight:700;--size:33px;--size-tablet:32px;--size-mobile:31px;--lh:default;--lh-tablet:default;--lh-mobile:35px;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gghcxJ5ZKyH_text | replace: '$locationOrigin', locationOrigin }}
        </h1>
      </div>
    </div>
    <div gp-el-wrapper  class="g9Z8uU6HVE ">
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <gp-icon-list
      
      uid="g9Z8uU6HVE"
      data-id="g9Z8uU6HVE"
      style="--shadow:none;--d:flex;--d-mobile:flex;--d-tablet:flex;--op:100%;--mb:0px;--jc:left"
      className="g9Z8uU6HVE"
      gp-data='{"position":{"desktop":"center","mobile":"center","tablet":"center"},"iconWidth":{"desktop":8,"mobile":9,"tablet":9}}'
    >
      
          <div class="gp-flex" style="--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--w:100%;--jc:left">
            <div class="gp-inline-flex gp-flex-col" style="--rg:16px">
              
                    <div
                      key="0"
                      data-index="0"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g9Z8uU6HVE"
                      style="--cg:20px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#17162E;--w:100%;--h:100%;--size-desktop:8px;--size-tablet:9px;--size-mobile:9px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817727364923752">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:default;--lh-tablet:default;--lh-mobile:default;--c:#17162E;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9Z8uU6HVE_childItem_0 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="1"
                      data-index="1"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g9Z8uU6HVE"
                      style="--cg:20px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#17162E;--w:100%;--h:100%;--size-desktop:8px;--size-tablet:9px;--size-mobile:9px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817727364923752">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:default;--lh-tablet:default;--lh-mobile:default;--c:#17162E;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9Z8uU6HVE_childItem_1 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="2"
                      data-index="2"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g9Z8uU6HVE"
                      style="--cg:20px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#17162E;--w:100%;--h:100%;--size-desktop:8px;--size-tablet:9px;--size-mobile:9px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817727364923752">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:default;--lh-tablet:default;--lh-mobile:default;--c:#17162E;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9Z8uU6HVE_childItem_2 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div> 
                    <div
                      key="3"
                      data-index="3"
                      class="gp-icon-list-wrapper gp-flex gp-child-item-g9Z8uU6HVE"
                      style="--cg:20px;--ai:center;--ai-tablet:center;--ai-mobile:center"
                    >
                      <div class="gp-icon-list-icon gp-inline-flex gp-shrink-0 gp-overflow-hidden" style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:1px 1px 1px 1px;--bc:#000000;--bg:transparent;--top:unset;--top-tablet:unset;--top-mobile:unset;--pos:relative;--pos-tablet:relative;--pos-mobile:relative">
                        <span
                          class="gp-icon gp-inline-flex gp-items-center gp-justify-center gp-overflow-hidden [&>svg]:!gp-h-[var(--size-desktop)] [&>svg]:!gp-w-[var(--size-desktop)] tablet:[&>svg]:!gp-h-[var(--size-tablet)] tablet:[&>svg]:!gp-w-[var(--size-tablet)] mobile:[&>svg]:!gp-h-[var(--size-mobile)] mobile:[&>svg]:!gp-w-[var(--size-mobile)]"
                          style="--c:#17162E;--w:100%;--h:100%;--size-desktop:8px;--size-tablet:9px;--size-mobile:9px"
                        >
                          <svg height="20" width="20" xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 256 256" fill="currentColor" data-id="508817727364923752">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z" /></svg>
                        </span>
                      </div>
                      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id
        class="gp-w-full"
        style="--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" >
        <div
          data-gp-text
          class=" gp-w-full gp-border gp-border-transparent gp-text-left gp-icon-list-text  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:20px;--size-mobile:18px;--lh:default;--lh-tablet:default;--lh-mobile:default;--c:#17162E;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg9Z8uU6HVE_childItem_3 | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
                    </div>
            </div>
          </div>
    </gp-icon-list>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-icon-list-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div><div
      data-same-height-display-contents
      style="--jc:center;--o:0;--o-tablet:0"
      class="gNx7Hrm004 gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g1gTS43ay3"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:20px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769852962450 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g1gTS43ay3"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ "1.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI4NDQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtODQ0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9Ijg0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI4NDQiIGZpbGw9InVybCgjZy0xNTAwLTg0NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "1.webp" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI4NDQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtODQ0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9Ijg0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI4NDQiIGZpbGw9InVybCgjZy0xNTAwLTg0NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ "1.webp" | file_url }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI4NDQiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE1MDAtODQ0Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNTAwIiBoZWlnaHQ9Ijg0NCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTUwMCIgaGVpZ2h0PSI4NDQiIGZpbGw9InVybCgjZy0xNTAwLTg0NCkiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE1MDAiIHRvPSIxNTAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ "1.webp" | file_url }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:auto;--aspect-mobile:1/1;--objf:cover;--w:700px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--radiusType:custom;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 10",
    "tag": "section",
    "class": "gps-604265801930769071 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=604265302506603179&sectionId=604265801930769071)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gghcxJ5ZKyH_text","label":"gghcxJ5ZKyH_text","default":"Quick Absorption without Greasiness!"},{"type":"html","id":"gg9Z8uU6HVE_childItem_0","label":"gg9Z8uU6HVE_childItem_0","default":"<p><strong>The fragrance: </strong>light touch of lavender</p>"},{"type":"html","id":"gg9Z8uU6HVE_childItem_1","label":"gg9Z8uU6HVE_childItem_1","default":"<p><strong>The consistency: </strong>light and very fresh</p>"},{"type":"html","id":"gg9Z8uU6HVE_childItem_2","label":"gg9Z8uU6HVE_childItem_2","default":"<p><strong>Makes your skin feel: </strong>hydrated, soft and smooth</p>"},{"type":"html","id":"gg9Z8uU6HVE_childItem_3","label":"gg9Z8uU6HVE_childItem_3","default":"<p><strong>Makes your skin look: revitalized, deflated and radiant</strong></p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}