
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-615206760432534320.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-615206760432534320.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-615206760432534320.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-615206760432534320.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-615206760432534320.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-615206760432534320.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-615206760432534320.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-615206760432534320.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-615206760432534320.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-615206760432534320.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-615206760432534320.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-615206760432534320.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-615206760432534320.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-615206760432534320.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-615206760432534320.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-615206760432534320.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-615206760432534320.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-615206760432534320.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-615206760432534320.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-615206760432534320.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-615206760432534320.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-615206760432534320.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-615206760432534320.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-615206760432534320.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-615206760432534320.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-615206760432534320.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-615206760432534320.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-615206760432534320.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-615206760432534320.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-615206760432534320.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-615206760432534320.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-615206760432534320.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-615206760432534320.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-615206760432534320.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-615206760432534320.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-615206760432534320.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-615206760432534320.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-615206760432534320.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-615206760432534320.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-615206760432534320.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-615206760432534320.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-615206760432534320.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-615206760432534320.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-615206760432534320.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-615206760432534320.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-615206760432534320.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-615206760432534320.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-615206760432534320.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-615206760432534320.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-615206760432534320.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-615206760432534320.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-615206760432534320.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-615206760432534320.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-615206760432534320.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-615206760432534320.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-615206760432534320.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-615206760432534320.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-615206760432534320.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-615206760432534320.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-615206760432534320.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-615206760432534320.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-615206760432534320.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-615206760432534320.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-615206760432534320.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-615206760432534320.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-615206760432534320.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-615206760432534320.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-615206760432534320.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-615206760432534320.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-615206760432534320.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-615206760432534320.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-615206760432534320.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-615206760432534320.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-615206760432534320.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-615206760432534320.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-615206760432534320.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-615206760432534320.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-615206760432534320 .gp-relative{position:relative}.gps-615206760432534320 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-615206760432534320 .gp-mb-0{margin-bottom:0}.gps-615206760432534320 .gp-inline-block{display:inline-block}.gps-615206760432534320 .gp-flex{display:flex}.gps-615206760432534320 .gp-grid{display:grid}.gps-615206760432534320 .gp-contents{display:contents}.gps-615206760432534320 .\!gp-hidden{display:none!important}.gps-615206760432534320 .gp-hidden{display:none}.gps-615206760432534320 .gp-h-auto{height:auto}.gps-615206760432534320 .gp-h-full{height:100%}.gps-615206760432534320 .gp-w-full{width:100%}.gps-615206760432534320 .gp-max-w-full{max-width:100%}.gps-615206760432534320 .gp-flex-none{flex:none}.gps-615206760432534320 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-615206760432534320 .gp-flex-col{flex-direction:column}.gps-615206760432534320 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-615206760432534320 .gp-duration-200{transition-duration:.2s}.gps-615206760432534320 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-615206760432534320 .tablet\:\!gp-hidden{display:none!important}.gps-615206760432534320 .tablet\:gp-hidden{display:none}.gps-615206760432534320 .tablet\:gp-h-auto{height:auto}.gps-615206760432534320 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-615206760432534320 .mobile\:\!gp-hidden{display:none!important}.gps-615206760432534320 .mobile\:gp-hidden{display:none}.gps-615206760432534320 .mobile\:gp-h-auto{height:auto}.gps-615206760432534320 .mobile\:gp-flex-none{flex:none}}.gps-615206760432534320 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(1000px + 2 * var(--g-ct-p, 15px));--w-tablet:100%;--w-mobile:100%;--pl:var(--g-ct-p, 15px);--pl-tablet:none;--pl-mobile:none;--pr:var(--g-ct-p, 15px);--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gdDP3Bh2Kr"}' data-id="gdDP3Bh2Kr" id="gdDP3Bh2Kr" data-same-height-subgrid-container class="gdDP3Bh2Kr gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:15px;--pl:0px;--pb:0px;--pr:0px;--pt-tablet:64px;--pl-tablet:48px;--pb-tablet:0px;--pr-tablet:48px;--pt-mobile:20px;--pl-mobile:20px;--pb-mobile:15px;--pr-mobile:20px;--cg:32px;--gtc:minmax(0, 12fr);--w:1000px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gG4c_4zGAy gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKlObZjgp6"
        class="gKlObZjgp6"
        style="--ta:center;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:var(--g-ct-w);--w-tablet:var(--g-ct-w);--w-mobile:var(--g-ct-w);--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--ta-mobile:left;--fs:normal;--ff:var(--g-font-ABCRepro, 'ABCRepro'), var(--g-font-heading, heading);--weight:700;--size:48px;--size-tablet:37px;--size-mobile:23px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--ls:normal;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKlObZjgp6_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g-WqXcP9K5"}' data-id="g-WqXcP9K5" id="g-WqXcP9K5" data-same-height-subgrid-container class="g-WqXcP9K5 gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:24px;--cg:16px;--gtc:minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="g_0cH3guIX gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g590tRnDwk"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1776341644574 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g590tRnDwk"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg590tRnDwk_srcSet_tablet_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzU4IiBoZWlnaHQ9Ijc1OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzU4LTc1OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzU4IiBoZWlnaHQ9Ijc1OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzU4IiBoZWlnaHQ9Ijc1OCIgZmlsbD0idXJsKCNnLTc1OC03NTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NTgiIHRvPSI3NTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg590tRnDwk_srcSet_tablet_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzU4IiBoZWlnaHQ9Ijc1OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzU4LTc1OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzU4IiBoZWlnaHQ9Ijc1OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzU4IiBoZWlnaHQ9Ijc1OCIgZmlsbD0idXJsKCNnLTc1OC03NTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NTgiIHRvPSI3NTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.gg590tRnDwk_srcSet_desktop_src }}" quality-type="{}" quality-percent="{}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNzU4IiBoZWlnaHQ9Ijc1OCIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4KICAgIDxkZWZzPgogICAgICA8bGluZWFyR3JhZGllbnQgaWQ9ImctNzU4LTc1OCI+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSIyMCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI1MCUiIC8+CiAgICAgICAgPHN0b3Agc3RvcC1jb2xvcj0icmdiYSg1MSwgNTEsIDUxLCAwKSIgb2Zmc2V0PSI3MCUiIC8+CiAgICAgIDwvbGluZWFyR3JhZGllbnQ+CiAgICA8L2RlZnM+CiAgICA8cmVjdCB3aWR0aD0iNzU4IiBoZWlnaHQ9Ijc1OCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNzU4IiBoZWlnaHQ9Ijc1OCIgZmlsbD0idXJsKCNnLTc1OC03NTgpIiAvPgogICAgPGFuaW1hdGUgeGxpbms6aHJlZj0iI3IiIGF0dHJpYnV0ZU5hbWU9IngiIGZyb209Ii03NTgiIHRvPSI3NTgiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gg590tRnDwk_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:1/1;--aspect-tablet:1/1;--aspect-mobile:1/1;--objf:cover;--w:60px;--w-tablet:60px;--w-mobile:60px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:999999px;--bbrr:999999px;--btlr:999999px;--btrr:999999px;--radiusType:circle;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gf70iPsdzB gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gwbicUg-Oq"}' data-id="gwbicUg-Oq" id="gwbicUg-Oq" data-same-height-subgrid-container class="gwbicUg-Oq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--cg:4px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCobpxjhmC gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-VIE0cBLv"
        class="g-VIE0cBLv"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-VIE0cBLv_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gU9_7slz6X gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNv-PMlL0W"
        class="gNv-PMlL0W"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:none;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:var(--g-c-text-1, text-1);word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNv-PMlL0W_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:start"
      class="gtjXeYcwM2 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="giofhxQbHe"
        class="giofhxQbHe"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--ls:normal;--c:#999999;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggiofhxQbHe_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"rgba(229, 72, 77, 0.2)","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gWlwmVDlCt"}' data-id="gWlwmVDlCt" id="gWlwmVDlCt" data-same-height-subgrid-container class="gWlwmVDlCt gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px 0px 0px 4px;--bc:#E5484D;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--mr:auto;--pt:16px;--pl:32px;--pb:16px;--pr:32px;--mb-mobile:10px;--mr-mobile:auto;--pt-mobile:14px;--pl-mobile:32px;--pb-mobile:14px;--pr-mobile:32px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--h:auto;--bgc:rgba(229, 72, 77, 0.2);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gUbSA2oiDU gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g38CKlhCF3"
        class="g38CKlhCF3"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ml:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:8px;--bbrr:8px;--btlr:8px;--btrr:8px;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-ABCRepr-Medium, 'ABCRepr Medium'), var(--g-font-body, body);--weight:400;--size:16px;--size-tablet:16px;--size-mobile:17px;--lh:130%;--lh-tablet:150%;--lh-mobile:130%;--ls:normal;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg38CKlhCF3_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 3",
    "tag": "section",
    "class": "gps-615206760432534320 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=615206759979549488&sectionId=615206760432534320)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggKlObZjgp6_text","label":"ggKlObZjgp6_text","default":"<span style=\"color:#17162E;\">I Brought a 38-Year-Old Italian Formula to America and Watched My Dad's Turkey Neck Disappear in 60 Days</span>"},{"type":"html","id":"gg590tRnDwk_srcSet_desktop_src","label":"gg590tRnDwk_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0871/6681/2407/files/profilepic_copy.webp"},{"type":"html","id":"gg590tRnDwk_srcSet_tablet_src","label":"gg590tRnDwk_srcSet_tablet_src","default":"https://cdn.shopify.com/s/files/1/0871/6681/2407/files/profilepic_copy.webp"},{"type":"html","id":"gg-VIE0cBLv_text","label":"gg-VIE0cBLv_text","default":"<p>By <strong>Oscar T.</strong></p>"},{"type":"html","id":"ggNv-PMlL0W_text","label":"ggNv-PMlL0W_text","default":"<p>|</p>"},{"type":"html","id":"ggiofhxQbHe_text","label":"ggiofhxQbHe_text","default":"<p>Last Updated 3 Apr 2026</p>"},{"type":"html","id":"gg38CKlhCF3_text","label":"gg38CKlhCF3_text","default":"<p>Read this before you wake up to older-looking skin.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}