
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-598209864052769335.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-598209864052769335.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-598209864052769335.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-598209864052769335.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-598209864052769335.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-598209864052769335.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-598209864052769335.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-598209864052769335.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-598209864052769335.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-598209864052769335.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-598209864052769335.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-598209864052769335.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-598209864052769335.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-598209864052769335.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-598209864052769335.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-598209864052769335.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-598209864052769335.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-598209864052769335.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-598209864052769335.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-598209864052769335.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-598209864052769335.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-598209864052769335.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-598209864052769335.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-598209864052769335.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-598209864052769335.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-598209864052769335.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-598209864052769335.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-598209864052769335.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-598209864052769335.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-598209864052769335.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-598209864052769335.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-598209864052769335.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-598209864052769335.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-598209864052769335.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-598209864052769335.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-598209864052769335.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-598209864052769335.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-598209864052769335.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-598209864052769335.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-598209864052769335.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-598209864052769335.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-598209864052769335.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-598209864052769335.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-598209864052769335.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-598209864052769335.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-598209864052769335.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-598209864052769335.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-598209864052769335.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-598209864052769335.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-598209864052769335.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-598209864052769335.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-598209864052769335.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-598209864052769335.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-598209864052769335.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-598209864052769335.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-598209864052769335.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-598209864052769335.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-598209864052769335.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-598209864052769335.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-598209864052769335.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-598209864052769335.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-598209864052769335.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-598209864052769335.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-598209864052769335.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-598209864052769335.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-598209864052769335.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-598209864052769335.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-598209864052769335.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-598209864052769335.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-598209864052769335.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-598209864052769335.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-598209864052769335.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-598209864052769335.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-598209864052769335.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-598209864052769335.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-598209864052769335.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-598209864052769335.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-598209864052769335 .gp-pointer-events-none{pointer-events:none}.gps-598209864052769335 .gp-absolute{position:absolute}.gps-598209864052769335 .gp-relative{position:relative}.gps-598209864052769335 .gp-inset-0{inset:0}.gps-598209864052769335 .gp-z-1{z-index:1}.gps-598209864052769335 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-598209864052769335 .gp-mb-0{margin-bottom:0}.gps-598209864052769335 .gp-flex{display:flex}.gps-598209864052769335 .gp-grid{display:grid}.gps-598209864052769335 .\!gp-hidden{display:none!important}.gps-598209864052769335 .gp-hidden{display:none}.gps-598209864052769335 .gp-w-max{width:-moz-max-content;width:max-content}.gps-598209864052769335 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-598209864052769335 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-598209864052769335 .gp-max-w-full{max-width:100%}.gps-598209864052769335 .gp-flex-1{flex:1 1 0%}.gps-598209864052769335 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-598209864052769335 .gp-flex-col{flex-direction:column}.gps-598209864052769335 .gp-flex-wrap{flex-wrap:wrap}.gps-598209864052769335 .gp-text-center{text-align:center}.gps-598209864052769335 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-598209864052769335 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-598209864052769335 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-598209864052769335 .gp-duration-200{transition-duration:.2s}.gps-598209864052769335 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-598209864052769335 .tablet\:\!gp-hidden{display:none!important}.gps-598209864052769335 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-598209864052769335 .mobile\:\!gp-hidden{display:none!important}.gps-598209864052769335 .mobile\:gp-hidden{display:none}}.gps-598209864052769335 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cardo/v21/wlp_gwjKBV1pqiv_.ttf) format('truetype');
}
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v20/UcCO3FwrK3iLTeHuS_nVMrMxCp50SjIw2boKoduKmMEVuI6fMZg.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVsEpYCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}


@font-face {
  font-family: 'Cardo';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/cardo/v21/wlpygwjKBV1pqhND-aQR.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvoooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#0055B5","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gXtQtGz5bs"}' data-id="gXtQtGz5bs" id="gXtQtGz5bs" data-same-height-subgrid-container class="gXtQtGz5bs gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#0055B5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gomCueYIqb gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#0055B5","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"g0uBSr8H8V"}' data-id="g0uBSr8H8V" id="g0uBSr8H8V" data-same-height-subgrid-container class="g0uBSr8H8V gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:0px;--mb-mobile:0px;--pb-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#0055B5;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g_GuLdeG8D gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gaKKLWnVRk"
        class="gaKKLWnVRk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--mt-mobile:5px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-heading, heading);--weight:400;--size:30px;--size-tablet:46px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:29px;--c:#ecf0f4;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggaKKLWnVRk_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gKGHCH4mJ4"
        class="gKGHCH4mJ4"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:5px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:24px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggKGHCH4mJ4_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pb-mobile:10px;--mb-tablet:30px" class="g30u6tPOr2 ">
      
    <gp-countdown-timer
        data-id="g30u6tPOr2"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"standard","dateStandard":"2025-12-21T22:59:55.563Z","dayLabel":"DAYS","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HOURS","loopAfterFinish":true,"minuteLabel":"MINUTES","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"SECONDS","timeZone":"UTC-5","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1729591255563,"hours":3,"mins":0,"startTime":1729580455563},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"g30u6tPOr2","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":"10px"},"padding":{"bottom":"0px","left":"0px","right":"0px","top":"0px"}},"edited":["tablet","mobile","desktop"],"mobile":{"link":false,"margin":{"bottom":"0px"},"padding":{"bottom":"10px"}},"tablet":{"margin":{"bottom":"30px"}}}},"label":"Countdown Timer","settings":{"behaviour":"standard","dateStandard":"2025-12-21T22:59:55.563Z","dayLabel":"DAYS","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"HOURS","loopAfterFinish":true,"minuteLabel":"MINUTES","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"SECONDS","timeZone":"UTC-5","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1729591255563,"hours":3,"mins":0,"startTime":1729580455563},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#E43737","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"10px","itemPadding":{"desktop":{"bottom":"4px","left":"16px","right":"16px","top":"4px","type":"small"}},"labelTypo":{"attrs":{"color":"#ecf0f4"},"custom":{"fontFamily":{"type":"google","value":"Raleway"},"fontSize":{"desktop":"13px","mobile":"11px","tablet":"14px"},"fontWeight":"400","hasShadowText":false,"lineHeight":{"desktop":"180%","mobile":"180%","tablet":"180%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#ecf0f4"},"custom":{"fontFamily":{"type":"google","value":"Raleway"},"fontSize":{"desktop":"30px","mobile":"35px","tablet":"18px"},"fontWeight":"400","hasShadowText":false,"lineHeight":{"desktop":"100%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"10px","bbrr":"10px","btlr":"10px","btrr":"10px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"-3px"},"tag":"Countdown","uid":"g30u6tPOr2","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:10px;--jc:center">
          <a
              href="#"
              target="_self"
              aria-label="Countdown link"
              class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
            > </a>
          
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--focus-bblr:10px;--focus-bbrr:10px;--focus-btlr:10px;--focus-btrr:10px;-undefined-bblr:10px;-undefined-bbrr:10px;-undefined-btlr:10px;-undefined-btrr:10px;--bg:#E43737" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g30u6tPOr2-text" id="day"
        class="g30u6tPOr2"
        style="--mb:-3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-heading, heading);--size:30px;--size-tablet:18px;--size-mobile:35px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g30u6tPOr2-text"
        class="g30u6tPOr2"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:11px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg30u6tPOr2_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--focus-bblr:10px;--focus-bbrr:10px;--focus-btlr:10px;--focus-btrr:10px;-undefined-bblr:10px;-undefined-bbrr:10px;-undefined-btlr:10px;-undefined-btrr:10px;--bg:#E43737" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g30u6tPOr2-text" id="hour"
        class="g30u6tPOr2"
        style="--mb:-3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-heading, heading);--size:30px;--size-tablet:18px;--size-mobile:35px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g30u6tPOr2-text"
        class="g30u6tPOr2"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:11px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg30u6tPOr2_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--focus-bblr:10px;--focus-bbrr:10px;--focus-btlr:10px;--focus-btrr:10px;-undefined-bblr:10px;-undefined-bbrr:10px;-undefined-btlr:10px;-undefined-btrr:10px;--bg:#E43737" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g30u6tPOr2-text" id="minute"
        class="g30u6tPOr2"
        style="--mb:-3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-heading, heading);--size:30px;--size-tablet:18px;--size-mobile:35px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g30u6tPOr2-text"
        class="g30u6tPOr2"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:11px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg30u6tPOr2_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--focus-bblr:10px;--focus-bbrr:10px;--focus-btlr:10px;--focus-btrr:10px;-undefined-bblr:10px;-undefined-bbrr:10px;-undefined-btlr:10px;-undefined-btrr:10px;--bg:#E43737" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g30u6tPOr2-text" id="second"
        class="g30u6tPOr2"
        style="--mb:-3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-heading, heading);--size:30px;--size-tablet:18px;--size-mobile:35px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g30u6tPOr2-text"
        class="g30u6tPOr2"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:400;--size:13px;--size-tablet:14px;--size-mobile:11px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg30u6tPOr2_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
        </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 4",
    "tag": "section",
    "class": "gps-598209864052769335 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=598209469570089868&sectionId=598209864052769335)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggaKKLWnVRk_text","label":"ggaKKLWnVRk_text","default":"<strong>XMAS OFFER 🎅🏼</strong>"},{"type":"html","id":"ggKGHCH4mJ4_text","label":"ggKGHCH4mJ4_text","default":"<p><span style=\"font-size:14px;\"><i>valid only for</i></span></p>"},{"type":"html","id":"gg30u6tPOr2_dayLabel","label":"gg30u6tPOr2_dayLabel","default":"DAYS"},{"type":"html","id":"gg30u6tPOr2_hourLabel","label":"gg30u6tPOr2_hourLabel","default":"HOURS"},{"type":"html","id":"gg30u6tPOr2_minuteLabel","label":"gg30u6tPOr2_minuteLabel","default":"MINUTES"},{"type":"html","id":"gg30u6tPOr2_secondLabel","label":"gg30u6tPOr2_secondLabel","default":"SECONDS"},{"type":"html","id":"gg30u6tPOr2_weekLabel","label":"gg30u6tPOr2_weekLabel","default":"Weeks"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}