
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612936819717178211.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612936819717178211.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612936819717178211.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612936819717178211.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612936819717178211.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612936819717178211.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612936819717178211.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612936819717178211.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612936819717178211.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-612936819717178211.gps.gpsil [style*="--focus-b:"]:focus{border:var(--focus-b)}.gps-612936819717178211.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612936819717178211.gps.gpsil [style*="--hvr-bb:"]:hover{border-bottom:var(--hvr-bb)}.gps-612936819717178211.gps.gpsil [style*="--focus-bb:"]:focus{border-bottom:var(--focus-bb)}.gps-612936819717178211.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612936819717178211.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612936819717178211.gps.gpsil [style*="--hvr-bblr:"]:hover{border-bottom-left-radius:var(--hvr-bblr)}.gps-612936819717178211.gps.gpsil [style*="--focus-bblr:"]:focus{border-bottom-left-radius:var(--focus-bblr)}.gps-612936819717178211.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612936819717178211.gps.gpsil [style*="--hvr-bbrr:"]:hover{border-bottom-right-radius:var(--hvr-bbrr)}.gps-612936819717178211.gps.gpsil [style*="--focus-bbrr:"]:focus{border-bottom-right-radius:var(--focus-bbrr)}.gps-612936819717178211.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612936819717178211.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612936819717178211.gps.gpsil [style*="--hvr-bt:"]:hover{border-top:var(--hvr-bt)}.gps-612936819717178211.gps.gpsil [style*="--focus-bt:"]:focus{border-top:var(--focus-bt)}.gps-612936819717178211.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612936819717178211.gps.gpsil [style*="--hvr-btlr:"]:hover{border-top-left-radius:var(--hvr-btlr)}.gps-612936819717178211.gps.gpsil [style*="--focus-btlr:"]:focus{border-top-left-radius:var(--focus-btlr)}.gps-612936819717178211.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612936819717178211.gps.gpsil [style*="--hvr-btrr:"]:hover{border-top-right-radius:var(--hvr-btrr)}.gps-612936819717178211.gps.gpsil [style*="--focus-btrr:"]:focus{border-top-right-radius:var(--focus-btrr)}.gps-612936819717178211.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612936819717178211.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612936819717178211.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612936819717178211.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612936819717178211.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612936819717178211.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612936819717178211.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612936819717178211.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612936819717178211.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-612936819717178211.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612936819717178211.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612936819717178211.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612936819717178211.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612936819717178211.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612936819717178211.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-612936819717178211.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-612936819717178211.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612936819717178211.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612936819717178211.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612936819717178211.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612936819717178211.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612936819717178211.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612936819717178211.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612936819717178211.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612936819717178211.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612936819717178211.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-612936819717178211.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-612936819717178211.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612936819717178211.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-612936819717178211.gps.gpsil [style*="--line-clamp:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp)}@media only screen and (max-width:1024px){.gps-612936819717178211.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612936819717178211.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612936819717178211.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-612936819717178211.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-612936819717178211.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-612936819717178211.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612936819717178211.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612936819717178211.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-612936819717178211.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-612936819717178211.gps.gpsil [style*="--line-clamp-tablet:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet)}}@media only screen and (max-width:767px){.gps-612936819717178211.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612936819717178211.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-612936819717178211.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612936819717178211.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-612936819717178211.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-612936819717178211.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-612936819717178211.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612936819717178211.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612936819717178211.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-612936819717178211.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-612936819717178211.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-612936819717178211.gps.gpsil [style*="--line-clamp-mobile:"]{display:-webkit-box;overflow:hidden;-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile)}}.gps-612936819717178211 .gp-pointer-events-none{pointer-events:none}.gps-612936819717178211 .gp-absolute{position:absolute}.gps-612936819717178211 .gp-relative{position:relative}.gps-612936819717178211 .gp-inset-0{inset:0}.gps-612936819717178211 .gp-z-1{z-index:1}.gps-612936819717178211 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612936819717178211 .gp-mb-0{margin-bottom:0}.gps-612936819717178211 .gp-flex{display:flex}.gps-612936819717178211 .gp-grid{display:grid}.gps-612936819717178211 .\!gp-hidden{display:none!important}.gps-612936819717178211 .gp-hidden{display:none}.gps-612936819717178211 .gp-w-max{width:-moz-max-content;width:max-content}.gps-612936819717178211 .gp-min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-612936819717178211 .\!gp-max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-612936819717178211 .gp-max-w-full{max-width:100%}.gps-612936819717178211 .gp-flex-1{flex:1 1 0%}.gps-612936819717178211 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612936819717178211 .gp-flex-col{flex-direction:column}.gps-612936819717178211 .gp-flex-wrap{flex-wrap:wrap}.gps-612936819717178211 .gp-text-center{text-align:center}.gps-612936819717178211 .gp-text-g-text-1{color:var(--g-c-text-1)}.gps-612936819717178211 .gp-text-g-text-2{color:var(--g-c-text-2)}.gps-612936819717178211 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612936819717178211 .gp-duration-200{transition-duration:.2s}.gps-612936819717178211 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-612936819717178211 .tablet\:\!gp-hidden{display:none!important}.gps-612936819717178211 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-612936819717178211 .mobile\:\!gp-hidden{display:none!important}.gps-612936819717178211 .mobile\:gp-hidden{display:none}}.gps-612936819717178211 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#17162E","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gj2cz_juvq"}' data-id="gj2cz_juvq" id="gj2cz_juvq" data-same-height-subgrid-container class="gj2cz_juvq gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:33px;--pt:0px;--pb:0px;--mt-tablet:33px;--pt-tablet:0px;--pb-tablet:0px;--mt-mobile:33px;--pt-mobile:0px;--pb-mobile:0px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#17162E;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gIyifkZeAX gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#17162E","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color","video":"","videoHtml5":""}},"uid":"gn3iMFANVp"}' data-id="gn3iMFANVp" id="gn3iMFANVp" data-same-height-subgrid-container class="gn3iMFANVp gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:0px;--mb-mobile:0px;--pb-mobile:0px;--cg:8px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#17162E;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gr9JI488vR gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gq_uHpRoLn"
        class="gq_uHpRoLn"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:10px;--mt-mobile:5px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--ta-mobile:center;--ff:var(--g-font-ABCRepro, 'ABCRepro'), var(--g-font-heading, heading);--weight:700;--size:30px;--size-tablet:46px;--size-mobile:22px;--lh:130%;--lh-tablet:130%;--lh-mobile:29px;--c:#ecf0f4;--tt:uppercase;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggq_uHpRoLn_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNyOLcUhnw"
        class="gNyOLcUhnw"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb-mobile:5px;--pb-mobile:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:20px;--size-tablet:16px;--size-mobile:16px;--lh:180%;--lh-tablet:180%;--lh-mobile:24px;--c:#ffffff;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNyOLcUhnw_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    <div gp-el-wrapper style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:10px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:0px;--pb-mobile:10px;--mb-tablet:30px" class="gTWGiCM0Ci ">
      
    <gp-countdown-timer
        data-id="gTWGiCM0Ci"
        gp-href="#"
        class="gp-flex"
        style="--jc:center"
        gp-data='{"behaviour":"standard","dateStandard":"Sun Apr 05 2026 12:59:55 GMT+0800 (Philippine Standard Time)","dayLabel":"day","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"hours","loopAfterFinish":true,"minuteLabel":"minutes","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"seconds","standardType":"specific-time-zone","timeZone":"UTC-5","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1729591255563,"hours":3,"mins":0,"startTime":1729580455563},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks","uid":"gTWGiCM0Ci","builderData":{"advanced":{"border":{"desktop":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","color":"#121212","isCustom":true,"width":"1px 1px 1px 1px"}}},"boxShadow":{"desktop":{"normal":{"angle":49,"blur":"4px","color":"rgba(18, 18, 18, 0.7)","distance":"4px","spread":"4px","type":"shadow-1"}}},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":{"desktop":{"normal":false}},"op":{"desktop":"100%"},"pageType":"GP_STATIC","rounded":{"desktop":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}}},"spacing-setting":{"desktop":{"link":false,"margin":{"bottom":"10px"},"padding":{"bottom":"0px","left":"0px","link":true,"right":"0px","top":"0px"}},"edited":["tablet","mobile","desktop"],"mobile":{"link":false,"margin":{"bottom":"0px"},"padding":{"bottom":"10px"}},"tablet":{"margin":{"bottom":"30px"}}}},"label":"Countdown Timer","settings":{"behaviour":"standard","dateStandard":"Sun Apr 05 2026 12:59:55 GMT+0800 (Philippine Standard Time)","dayLabel":"day","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"hours","loopAfterFinish":true,"minuteLabel":"minutes","redirectUrl":{"link":"#","target":"_self","type":"stay-on-page"},"secondLabel":"seconds","standardType":"specific-time-zone","timeZone":"UTC-5","timerDaily":{"format":"am","hours":10,"mins":30},"timerEverygreen":{"days":0,"endTime":1729591255563,"hours":3,"mins":0,"startTime":1729580455563},"translate":"dayLabel,hourLabel,minuteLabel,secondLabel,weekLabel","weekLabel":"Weeks"},"styles":{"backgroundItemColor":"#E5484D","borderState":{"normal":{"border":"none","borderType":"none","borderWidth":"1px","isCustom":false,"width":"1px 1px 1px 1px"}},"colorLabel":"text-1","colorNumber":"text-2","enableLabelTextStyle":true,"horizontalGap":"10px","itemPadding":{"desktop":{"bottom":"4px","left":"16px","right":"16px","top":"4px","type":"small"}},"labelTypo":{"attrs":{"color":"#ecf0f4"},"custom":{"fontFamily":{"type":"custom","value":"ABCRepro-Screen"},"fontSize":{"desktop":"10px","mobile":"10px","tablet":"14px"},"fontWeight":"400","hasShadowText":false,"letterSpacing":{},"lineHeight":{"desktop":"180%","mobile":"180%","tablet":"180%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","enable":false,"type":"custom"}},"type":"paragraph-2"},"numTypo":{"attrs":{"bold":true,"color":"#ecf0f4"},"custom":{"fontFamily":{"type":"custom","value":"ABCRepro"},"fontSize":{"desktop":"20px","mobile":"20px","tablet":"18px"},"fontWeight":"700","hasShadowText":false,"letterSpacing":{},"lineHeight":{"desktop":"100%","mobile":"130%","tablet":"130%"},"textShadow":{"angle":37,"blur":"2px","color":"rgba(0, 0, 0, 0.6)","distance":"4px","enable":false,"type":"custom"}},"type":"subheading-2"},"roundedState":{"normal":{"bblr":"10px","bbrr":"10px","btlr":"10px","btrr":"10px","radiusType":"custom"}},"textAlign":{"desktop":"center"},"verticalGap":"-3px"},"tag":"Countdown","uid":"gTWGiCM0Ci","childrens":[],"type":"component"}}'>
        <div id="section-countdown" class="gp-flex gp-flex-wrap gp-w-max gp-relative " style="gap:10px;--jc:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="gp-absolute gp-inset-0 gp-z-1 gp-pointer-events-none"
          > </a>
          
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--focus-bblr:10px;--focus-bbrr:10px;--focus-btlr:10px;--focus-btrr:10px;-undefined-bblr:10px;-undefined-bbrr:10px;-undefined-btlr:10px;-undefined-btrr:10px;--bg:#E5484D" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTWGiCM0Ci-text" id="day"
        class="gTWGiCM0Ci"
        style="--mb:-3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro, 'ABCRepro'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:20px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTWGiCM0Ci-text"
        class="gTWGiCM0Ci"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:10px;--size-tablet:14px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTWGiCM0Ci_dayLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--focus-bblr:10px;--focus-bbrr:10px;--focus-btlr:10px;--focus-btrr:10px;-undefined-bblr:10px;-undefined-bbrr:10px;-undefined-btlr:10px;-undefined-btrr:10px;--bg:#E5484D" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTWGiCM0Ci-text" id="hour"
        class="gTWGiCM0Ci"
        style="--mb:-3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro, 'ABCRepro'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:20px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTWGiCM0Ci-text"
        class="gTWGiCM0Ci"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:10px;--size-tablet:14px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTWGiCM0Ci_hourLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--focus-bblr:10px;--focus-bbrr:10px;--focus-btlr:10px;--focus-btrr:10px;-undefined-bblr:10px;-undefined-bbrr:10px;-undefined-btlr:10px;-undefined-btrr:10px;--bg:#E5484D" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTWGiCM0Ci-text" id="minute"
        class="gTWGiCM0Ci"
        style="--mb:-3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro, 'ABCRepro'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:20px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTWGiCM0Ci-text"
        class="gTWGiCM0Ci"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:10px;--size-tablet:14px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTWGiCM0Ci_minuteLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
          
    <div style="--pl:16px;--pr:16px;--pt:4px;--pb:4px;--bs:none;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--hvr-bblr:10px;--hvr-bbrr:10px;--hvr-btlr:10px;--hvr-btrr:10px;--focus-bblr:10px;--focus-bbrr:10px;--focus-btlr:10px;--focus-btrr:10px;-undefined-bblr:10px;-undefined-bbrr:10px;-undefined-btlr:10px;-undefined-btrr:10px;--bg:#E5484D" class="gp-flex-1 gp-text-center gp-min-w-max !gp-max-w-max">
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTWGiCM0Ci-text" id="second"
        class="gTWGiCM0Ci"
        style="--mb:-3px;--c:var(--g-c-text-2, text-2);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class="gp-countdown-number gp-text-g-text-2  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro, 'ABCRepro'), var(--g-font-heading, heading);--size:20px;--size-tablet:18px;--size-mobile:20px;--lh:100%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          00
        </div>
      </div>
    </div>
    
    
         
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gTWGiCM0Ci-text"
        class="gTWGiCM0Ci"
        style="--c:var(--g-c-text-1, text-1);--dynamic-source-color:#F4F4F4"
      >
      <div  >
        <div
          data-gp-text
          class=" gp-text-g-text-1  gp-text-instant"
          style="--w:100%;--tdt:auto;--ts:none;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-body, body);--weight:400;--size:10px;--size-tablet:14px;--size-mobile:10px;--lh:180%;--lh-tablet:180%;--lh-mobile:180%;--c:#ecf0f4;word-break:break-word;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggTWGiCM0Ci_secondLabel }}
        </div>
      </div>
    </div>
    
    
    </div>
    
      </div>
     </gp-countdown-timer>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-countdown-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-612936819717178211 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=612931265150059088&sectionId=612936819717178211)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggq_uHpRoLn_text","label":"ggq_uHpRoLn_text","default":"<span style=\"font-size:1em;\">🐣</span> EASTER SALE - 70% OFF + FREE Shipping"},{"type":"html","id":"ggNyOLcUhnw_text","label":"ggNyOLcUhnw_text","default":"<p><span style=\"font-size:14px;\"><i>Ends in👇🏻</i></span></p>"},{"type":"html","id":"ggTWGiCM0Ci_dayLabel","label":"ggTWGiCM0Ci_dayLabel","default":"day"},{"type":"html","id":"ggTWGiCM0Ci_hourLabel","label":"ggTWGiCM0Ci_hourLabel","default":"hours"},{"type":"html","id":"ggTWGiCM0Ci_minuteLabel","label":"ggTWGiCM0Ci_minuteLabel","default":"minutes"},{"type":"html","id":"ggTWGiCM0Ci_secondLabel","label":"ggTWGiCM0Ci_secondLabel","default":"seconds"},{"type":"html","id":"ggTWGiCM0Ci_weekLabel","label":"ggTWGiCM0Ci_weekLabel","default":"Weeks"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}