
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612888062996840979.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-612888062996840979.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-612888062996840979.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612888062996840979.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612888062996840979.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612888062996840979.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612888062996840979.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612888062996840979.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612888062996840979.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612888062996840979.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612888062996840979.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612888062996840979.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612888062996840979.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612888062996840979.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612888062996840979.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-612888062996840979.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-612888062996840979.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612888062996840979.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612888062996840979.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612888062996840979.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612888062996840979.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612888062996840979.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612888062996840979.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612888062996840979.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612888062996840979.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612888062996840979.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612888062996840979.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612888062996840979.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612888062996840979.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-612888062996840979.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612888062996840979.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-612888062996840979.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612888062996840979.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612888062996840979.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612888062996840979.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612888062996840979.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-612888062996840979.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-612888062996840979.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-612888062996840979.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-612888062996840979.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-612888062996840979.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612888062996840979.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612888062996840979.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612888062996840979.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612888062996840979.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612888062996840979.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612888062996840979.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612888062996840979.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612888062996840979.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-612888062996840979.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612888062996840979.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-612888062996840979.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-612888062996840979.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612888062996840979.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-612888062996840979.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-612888062996840979.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612888062996840979.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-612888062996840979.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612888062996840979.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-612888062996840979.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-612888062996840979.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-612888062996840979.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-612888062996840979.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-612888062996840979.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612888062996840979.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612888062996840979.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-612888062996840979.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-612888062996840979.gps.gpsil [style*="--ta-tablet:"]{text-align:var(--ta-tablet)}.gps-612888062996840979.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-612888062996840979.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-612888062996840979.gps.gpsil [style*="--b-mobile:"]{border:var(--b-mobile)}.gps-612888062996840979.gps.gpsil [style*="--shadow-mobile:"]{box-shadow:var(--shadow-mobile)}.gps-612888062996840979.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612888062996840979.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-612888062996840979.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-612888062996840979.gps.gpsil [style*="--ls-mobile:"]{letter-spacing:var(--ls-mobile)}.gps-612888062996840979.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612888062996840979.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-612888062996840979.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-612888062996840979.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-612888062996840979.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-612888062996840979.gps.gpsil [style*="--objf-mobile:"]{-o-object-fit:var(--objf-mobile);object-fit:var(--objf-mobile)}.gps-612888062996840979.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-612888062996840979.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612888062996840979.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612888062996840979.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-612888062996840979.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-612888062996840979.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-612888062996840979.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-612888062996840979 .gp-relative{position:relative}.gps-612888062996840979 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612888062996840979 .gp-mb-0{margin-bottom:0}.gps-612888062996840979 .gp-inline-block{display:inline-block}.gps-612888062996840979 .gp-flex{display:flex}.gps-612888062996840979 .gp-grid{display:grid}.gps-612888062996840979 .gp-contents{display:contents}.gps-612888062996840979 .\!gp-hidden{display:none!important}.gps-612888062996840979 .gp-hidden{display:none}.gps-612888062996840979 .gp-h-auto{height:auto}.gps-612888062996840979 .gp-h-full{height:100%}.gps-612888062996840979 .gp-w-full{width:100%}.gps-612888062996840979 .\!gp-max-w-none{max-width:none!important}.gps-612888062996840979 .gp-max-w-full{max-width:100%}.gps-612888062996840979 .gp-flex-none{flex:none}.gps-612888062996840979 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612888062996840979 .gp-flex-col{flex-direction:column}.gps-612888062996840979 .gp-overflow-hidden{overflow:hidden}.gps-612888062996840979 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-612888062996840979 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612888062996840979 .gp-duration-200{transition-duration:.2s}.gps-612888062996840979 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-612888062996840979 .tablet\:\!gp-hidden{display:none!important}.gps-612888062996840979 .tablet\:gp-hidden{display:none}.gps-612888062996840979 .tablet\:gp-h-auto{height:auto}.gps-612888062996840979 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-612888062996840979 .mobile\:\!gp-hidden{display:none!important}.gps-612888062996840979 .mobile\:gp-hidden{display:none}.gps-612888062996840979 .mobile\:gp-h-auto{height:auto}.gps-612888062996840979 .mobile\:gp-flex-none{flex:none}}.gps-612888062996840979 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-612888062996840979 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-612888062996840979 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-612888062996840979 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gxfnkRywaL"}' data-id="gxfnkRywaL" id="gxfnkRywaL" data-same-height-subgrid-container class="gxfnkRywaL gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:none;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mb:40px;--mr:auto;--pt:2px;--pl:0px;--pb:0px;--pr:0px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:2px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--ml-tablet:auto;--mb-tablet:40px;--mr-tablet:auto;--pt-tablet:2px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gb2laWeG84 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g-1ansgvJm"
        class="g-1ansgvJm"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:25px;--ml:0px;--mb:0px;--pt:0px;--pl:5%;--pb:0px;--pr:5%;--mt-mobile:25px;--ml-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:5px;--pb-mobile:0px;--pr-mobile:5px;--mt-tablet:25px;--ml-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:5px;--pb-tablet:0px;--pr-tablet:5px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--size:52px;--size-tablet:51px;--size-mobile:40px;--lh:130%;--lh-tablet:130%;--lh-mobile:130%;--weight:bold;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg-1ansgvJm_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gNngmitjD5"
        class="gNngmitjD5"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-l);--ml:0px;--mb:40px;--pt:0px;--pl:5%;--pb:0px;--pr:5%;--mt-mobile:var(--g-s-l);--ml-mobile:0px;--mb-mobile:30px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:var(--g-s-l);--ml-tablet:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:5px;--pb-tablet:0px;--pr-tablet:5px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:26px;--size-mobile:19px;--lh:151%;--lh-tablet:130%;--lh-mobile:130%;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggNngmitjD5_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"backupFileKey":"gempages_577442117282956003-4cde19d0-3225-4cb0-a8c2-540d3c9470f9.png","height":755,"src":"{{ section.settings.gguqPeQwviO_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1440},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"guqPeQwviO"}' data-id="guqPeQwviO" id="guqPeQwviO" data-same-height-subgrid-container class="guqPeQwviO gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--mr:auto;--pt:60px;--pl:5%;--pb:60px;--pr:5%;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:20px;--pl-mobile:5%;--pb-mobile:40px;--pr-mobile:5%;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:60px;--pl-tablet:5px;--pb-tablet:60px;--pr-tablet:5px;--cg:60px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--bgc:transparent;--bgi:url({{ section.settings.gguqPeQwviO_background_desktop_image_src }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gKV8QpHjcq gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gRm4mpsB6D"
        class="gRm4mpsB6D"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:12px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:center;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--size:35px;--size-tablet:46px;--size-mobile:27px;--lh:160%;--lh-tablet:130%;--lh-mobile:130%;--ls:2px;--weight:bold;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggRm4mpsB6D_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g2KNhEqc1H"
        class="g2KNhEqc1H"
        style="--ta:center;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:20px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:Auto;--tdt:auto;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:22px;--size-mobile:16px;--lh:default;--lh-tablet:default;--lh-mobile:140%;--ls:Auto;--c:#F7F7F7;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg2KNhEqc1H_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gSmB7tMNoK gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gMTVvezHKQ"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt-mobile:15px;--ta:center"
      class="gp-group/image gp-relative force-publish-1774845897996 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gMTVvezHKQ"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggMTVvezHKQ_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MSIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQxLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDEiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MSIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTQ0MS0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MSIgdG89IjE0NDEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggMTVvezHKQ_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MSIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQxLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDEiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MSIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTQ0MS0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MSIgdG89IjE0NDEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.ggMTVvezHKQ_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQ0MSIgaGVpZ2h0PSIxOTIwIiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy0xNDQxLTE5MjAiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjE0NDEiIGhlaWdodD0iMTkyMCIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQ0MSIgaGVpZ2h0PSIxOTIwIiBmaWxsPSJ1cmwoI2ctMTQ0MS0xOTIwKSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItMTQ0MSIgdG89IjE0NDEiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.ggMTVvezHKQ_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:1/1;--objf:cover;--objf-mobile:cover;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"gp0b7dVJBE"}' data-id="gp0b7dVJBE" id="gp0b7dVJBE" data-same-height-subgrid-container class="gp0b7dVJBE gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:60px;--mb:60px;--mr:auto;--pt:0px;--pl:5%;--pb:0px;--pr:5%;--mt-mobile:40px;--mb-mobile:40px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:5%;--pb-mobile:0px;--pr-mobile:5%;--mt-tablet:60px;--mb-tablet:60px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:5px;--pb-tablet:0px;--pr-tablet:5px;--cg:60px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gimA0oEQXN gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gsqbb7MCZl"
        class="gsqbb7MCZl"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:12px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--b-mobile:none;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--shadow-mobile:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--size:35px;--size-tablet:46px;--size-mobile:29px;--lh:160%;--lh-tablet:130%;--lh-mobile:130%;--ls:2px;--ls-mobile:0px;--weight:bold;--c:#17162E;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggsqbb7MCZl_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gp6z32qWHU"
        class="gp6z32qWHU"
        style="--ta:center;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:20px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:Auto;--tdt:auto;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:19px;--size-mobile:16px;--lh:default;--lh-tablet:default;--lh-mobile:140%;--ls:Auto;--c:#17162E;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggp6z32qWHU_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gNWOsormhl gp-relative gp-flex gp-flex-col"
    >
      
    <div
       data-id="gMi0ZzJihi" class="gMi0ZzJihi !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--aspect:16/9;--aspect-mobile:auto">
      
  <gp-lite-html5-embed is-check-loaded="false" >
    
    <video
    id="gp-video-gMi0ZzJihi" title="Video" preload="metadata" data-src="{{ section.settings.ggMi0ZzJihi_html5Url }}" poster data-poster
      style="--aspect:16/9;--aspect-mobile:auto"
      class="gp-w-full gp-lazyload-video"
      
      loop
      muted
      autoplay
      playsinline
      
    ></video>
    
  </gp-lite-html5-embed>
        <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-html5-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"backupFileKey":"gempages_577442117282956003-4cde19d0-3225-4cb0-a8c2-540d3c9470f9.png","height":755,"src":"{{ section.settings.ggTfo6aMwuv_background_desktop_image_src }}","storage":"FILE_CONTENT","width":1440},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"image"}},"uid":"gTfo6aMwuv"}' data-id="gTfo6aMwuv" id="gTfo6aMwuv" data-same-height-subgrid-container class="gTfo6aMwuv gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mr:auto;--pt:60px;--pl:5%;--pb:60px;--pr:5%;--mb-mobile:0px;--mr-mobile:auto;--pt-mobile:40px;--pl-mobile:5%;--pb-mobile:40px;--pr-mobile:5%;--mb-tablet:0px;--mr-tablet:auto;--pt-tablet:60px;--pl-tablet:5px;--pb-tablet:60px;--pr-tablet:5px;--cg:60px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--bgc:transparent;--bgi:url({{ section.settings.ggTfo6aMwuv_background_desktop_image_src }});--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gkbiMff9s_ gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gov1PYiB_N"
        class="gov1PYiB_N"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:12px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--size:35px;--size-tablet:46px;--size-mobile:26px;--lh:160%;--lh-tablet:130%;--lh-mobile:130%;--ls:2px;--ls-mobile:0px;--weight:bold;--c:#FFFFFF;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggov1PYiB_N_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gUIXanDzl_"
        class="gUIXanDzl_"
        style="--ta:center;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:20px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:Auto;--tdt:auto;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:left;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:22px;--size-mobile:16px;--lh:default;--lh-tablet:default;--lh-mobile:140%;--ls:Auto;--c:#F7F7F7;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggUIXanDzl__text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gKaqTvwd4n gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="gXVbnLBXn_"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1774845898002 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gXVbnLBXn_"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.ggXVbnLBXn__srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwMCIgaGVpZ2h0PSI5MzMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0MDAtOTMzIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDAwIiBoZWlnaHQ9IjkzMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwMCIgaGVpZ2h0PSI5MzMiIGZpbGw9InVybCgjZy0xNDAwLTkzMykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0MDAiIHRvPSIxNDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.ggXVbnLBXn__srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwMCIgaGVpZ2h0PSI5MzMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0MDAtOTMzIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDAwIiBoZWlnaHQ9IjkzMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwMCIgaGVpZ2h0PSI5MzMiIGZpbGw9InVybCgjZy0xNDAwLTkzMykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0MDAiIHRvPSIxNDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
    
      
      <img
        base-src="{{ section.settings.ggXVbnLBXn__srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTQwMCIgaGVpZ2h0PSI5MzMiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTE0MDAtOTMzIj4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxNDAwIiBoZWlnaHQ9IjkzMyIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTQwMCIgaGVpZ2h0PSI5MzMiIGZpbGw9InVybCgjZy0xNDAwLTkzMykiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTE0MDAiIHRvPSIxNDAwIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" data-src="{{ section.settings.ggXVbnLBXn__srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:1/1;--objf:cover;--objf-mobile:cover;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    

    

    
    <gp-row gp-data='{"background":{},"uid":"glaPqY1V4H"}' data-id="glaPqY1V4H" id="glaPqY1V4H" data-same-height-subgrid-container class="glaPqY1V4H gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:60px;--mb:60px;--mr:auto;--pt:0px;--pl:5%;--pb:0px;--pr:5%;--mt-mobile:40px;--mb-mobile:40px;--mr-mobile:auto;--pt-mobile:0px;--pl-mobile:5%;--pb-mobile:0px;--pr-mobile:5%;--mt-tablet:60px;--mb-tablet:60px;--mr-tablet:auto;--pt-tablet:0px;--pl-tablet:5px;--pb-tablet:0px;--pr-tablet:5px;--cg:60px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gXLldxDOon gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="ggo0fs2sYS"
        class="ggo0fs2sYS"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:12px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mb-mobile:12px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mb-tablet:12px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--size:35px;--size-tablet:46px;--size-mobile:26px;--lh:160%;--lh-tablet:130%;--lh-mobile:130%;--ls:2px;--ls-mobile:0px;--weight:bold;--c:#17162E;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gggo0fs2sYS_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gBMnVcdTJw"
        class="gBMnVcdTJw"
        style="--ta:center;--mt:0px;--ml:0px;--mb:30px;--mr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:0px;--ml-mobile:0px;--mb-mobile:0px;--mr-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:0px;--ml-tablet:0px;--mb-tablet:20px;--mr-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:center">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:Auto;--tdt:auto;--ts:none;--ta:left;--ta-tablet:left;--ta-mobile:center;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--weight:400;--size:24px;--size-tablet:25px;--size-mobile:16px;--lh:default;--lh-tablet:130%;--lh-mobile:140%;--ls:Auto;--c:#17162E;--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggBMnVcdTJw_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gsbbrPjshO gp-relative gp-flex gp-flex-col"
    >
      
    <div
      role="presentation"
      data-id="g9ZAxGgp4G"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1774845898005 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g9ZAxGgp4G"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <picture style="border-radius:inherit" class="gp-contents">
      
      <source media="(max-width: 767px)" data-srcSet="{{ section.settings.gg9ZAxGgp4G_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDk2LTQwOTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwOTYiIGhlaWdodD0iNDA5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiBmaWxsPSJ1cmwoI2ctNDA5Ni00MDk2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDA5NiIgdG89IjQwOTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
      <source media="(max-width: 1024px)" data-srcSet="{{ section.settings.gg9ZAxGgp4G_srcSet_desktop_src }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDk2LTQwOTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwOTYiIGhlaWdodD0iNDA5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiBmaWxsPSJ1cmwoI2ctNDA5Ni00MDk2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDA5NiIgdG89IjQwOTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" />
    
      
      <img
        base-src="{{ section.settings.gg9ZAxGgp4G_srcSet_desktop_src }}" quality-type="{&quot;desktop&quot;:&quot;high&quot;}" quality-percent="{&quot;desktop&quot;:100}"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiPgogICAgPGRlZnM+CiAgICAgIDxsaW5lYXJHcmFkaWVudCBpZD0iZy00MDk2LTQwOTYiPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iMjAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNTAlIiAvPgogICAgICAgIDxzdG9wIHN0b3AtY29sb3I9InJnYmEoNTEsIDUxLCA1MSwgMCkiIG9mZnNldD0iNzAlIiAvPgogICAgICA8L2xpbmVhckdyYWRpZW50PgogICAgPC9kZWZzPgogICAgPHJlY3Qgd2lkdGg9IjQwOTYiIGhlaWdodD0iNDA5NiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iNDA5NiIgaGVpZ2h0PSI0MDk2IiBmaWxsPSJ1cmwoI2ctNDA5Ni00MDk2KSIgLz4KICAgIDxhbmltYXRlIHhsaW5rOmhyZWY9IiNyIiBhdHRyaWJ1dGVOYW1lPSJ4IiBmcm9tPSItNDA5NiIgdG89IjQwOTYiIGR1cj0iMXMiIHJlcGVhdENvdW50PSJpbmRlZmluaXRlIiAgLz4KICA8L3N2Zz4=" data-src="{{ section.settings.gg9ZAxGgp4G_srcSet_desktop_src }}"
        alt=""
        width="100%"
        style="--aspect:4/3;--aspect-tablet:4/3;--aspect-mobile:1/1;--objf:cover;--w:100%;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--radiusType:rounded;--shadow:none"
        class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload gp_force_load"
      />
    
    </picture>
  
      </div>
    </div>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 2",
    "tag": "section",
    "class": "gps-612888062996840979 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612888062963221011&sectionId=612888062996840979)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg-1ansgvJm_text","label":"gg-1ansgvJm_text","default":"Crafted in Italy.<br>For the man who appreciates quality"},{"type":"html","id":"ggNngmitjD5_text","label":"ggNngmitjD5_text","default":"Since 1987, our family laboratory has been crafting skincare the Italian way — with patience, precision, and an obsession for quality over quantity"},{"type":"html","id":"gguqPeQwviO_background_desktop_image_src","label":"gguqPeQwviO_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0871/6681/2407/files/bg.png"},{"type":"html","id":"ggRm4mpsB6D_text","label":"ggRm4mpsB6D_text","default":"Effortless results.<br>No fuss"},{"type":"html","id":"gg2KNhEqc1H_text","label":"gg2KNhEqc1H_text","default":"In Italy, we have a concept called sprezzatura — the art of making the difficult look effortless. The elegance of a man who cares about how he looks without making a fuss about it.<br><br>This is the philosophy behind SerlinoLab. Products that deliver real results — less wrinkles, firmer skin, a fresher face — without complicated routines. Two minutes a day. That's all it takes"},{"type":"html","id":"ggMTVvezHKQ_srcSet_desktop_src","label":"ggMTVvezHKQ_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0871/6681/2407/files/939c2057-a941-40a9-bf45-7f2ea682d1d2.webp"},{"type":"html","id":"ggsqbb7MCZl_text","label":"ggsqbb7MCZl_text","default":"Small rituals.<br>Big difference"},{"type":"html","id":"ggp6z32qWHU_text","label":"ggp6z32qWHU_text","default":"The Italian art of living — <strong>l'arte di vivere</strong> — is about appreciating small rituals. A good espresso. A sunset over the Mediterranean. A moment of care for yourself.<br>&nbsp;<br>SerlinoLab is that moment. Not a chore. Not a 10-step routine. <strong>A daily ritual that makes you look better and feel better</strong>"},{"type":"html","id":"ggMi0ZzJihi_youtubeUrl","label":"ggMi0ZzJihi_youtubeUrl","default":"https://www.youtube.com/watch?v=NfASaHFN1zg"},{"type":"html","id":"ggMi0ZzJihi_vimeoUrl","label":"ggMi0ZzJihi_vimeoUrl","default":"https://vimeo.com/1095883398"},{"type":"html","id":"ggMi0ZzJihi_html5Url","label":"ggMi0ZzJihi_html5Url","default":"https://assets.replocdn.com/projects/56c90834-24c9-4b2f-b793-173c1ec67477/21f2c450-85ce-411c-b723-a981f545258a"},{"type":"html","id":"ggTfo6aMwuv_background_desktop_image_src","label":"ggTfo6aMwuv_background_desktop_image_src","default":"https://cdn.shopify.com/s/files/1/0871/6681/2407/files/bg.png"},{"type":"html","id":"ggov1PYiB_N_text","label":"ggov1PYiB_N_text","default":"Crafted on the<br>Italian coast"},{"type":"html","id":"ggUIXanDzl__text","label":"ggUIXanDzl__text","default":"Our family-owned laboratory sits in Campania, just a stone's throw from the Amalfi Coast — the same stretch of Southern Italy that has inspired artists, poets, and craftsmen for generations.&nbsp;Here, our chemists have spent over 30 years perfecting the balance between active ingredients and Italian botanicals. Olive oil from the Marche. Tomato extract from Puglia. Orange from Sicily.&nbsp;No anonymous factories. No outsourcing. Every formula is made here, by people who have dedicated their careers to one thing: skincare that works"},{"type":"html","id":"ggXVbnLBXn__srcSet_desktop_src","label":"ggXVbnLBXn__srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0871/6681/2407/files/ddce9c4e-19ad-40eb-a5dd-c16ca7a0476f.webp"},{"type":"html","id":"gggo0fs2sYS_text","label":"gggo0fs2sYS_text","default":"What we stand for"},{"type":"html","id":"ggBMnVcdTJw_text","label":"ggBMnVcdTJw_text","default":"<strong>Craftsmanship over marketing. </strong>We'd rather spend money on better ingredients than flashier ads.<br><br><strong>Timelessness over trends.</strong> We don't reformulate every season. We perfect one formula and stand by it.<br><br><strong>Results you can see.</strong> Not promises — proof. 60 days, or your money back"},{"type":"html","id":"gg9ZAxGgp4G_srcSet_desktop_src","label":"gg9ZAxGgp4G_srcSet_desktop_src","default":"https://cdn.shopify.com/s/files/1/0871/6681/2407/files/0c358216-c8e0-41ff-989b-cc13c83a9115.webp"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}