
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-604266225438032559.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-604266225438032559.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-604266225438032559.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-604266225438032559.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-604266225438032559.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-604266225438032559.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-604266225438032559.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-604266225438032559.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-604266225438032559.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-604266225438032559.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-604266225438032559.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-604266225438032559.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-604266225438032559.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-604266225438032559.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-604266225438032559.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-604266225438032559.gps.gpsil [style*="--radius:"]{border-radius:var(--radius)}.gps-604266225438032559.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-604266225438032559.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-604266225438032559.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-604266225438032559.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-604266225438032559.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-604266225438032559.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-604266225438032559.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-604266225438032559.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-604266225438032559.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-604266225438032559.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-604266225438032559.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-604266225438032559.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-604266225438032559.gps.gpsil [style*="--maxw:"]{max-width:var(--maxw)}.gps-604266225438032559.gps.gpsil [style*="--minw:"]{min-width:var(--minw)}.gps-604266225438032559.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-604266225438032559.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-604266225438032559.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-604266225438032559.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-604266225438032559.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-604266225438032559.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-604266225438032559.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-604266225438032559.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-604266225438032559.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-604266225438032559.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-604266225438032559.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-604266225438032559.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-604266225438032559.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-604266225438032559.gps.gpsil [style*="--aspect-tablet:"]{aspect-ratio:var(--aspect-tablet)}.gps-604266225438032559.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-604266225438032559.gps.gpsil [style*="--maxw-tablet:"]{max-width:var(--maxw-tablet)}.gps-604266225438032559.gps.gpsil [style*="--minw-tablet:"]{min-width:var(--minw-tablet)}.gps-604266225438032559.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-604266225438032559.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-604266225438032559.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-604266225438032559.gps.gpsil [style*="--aspect-mobile:"]{aspect-ratio:var(--aspect-mobile)}.gps-604266225438032559.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-604266225438032559.gps.gpsil [style*="--maxw-mobile:"]{max-width:var(--maxw-mobile)}.gps-604266225438032559.gps.gpsil [style*="--minw-mobile:"]{min-width:var(--minw-mobile)}.gps-604266225438032559.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-604266225438032559.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-604266225438032559.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-604266225438032559 .\!gp-relative{position:relative!important}.gps-604266225438032559 .gp-relative{position:relative}.gps-604266225438032559 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-604266225438032559 .gp-mb-0{margin-bottom:0}.gps-604266225438032559 .gp-inline-block{display:inline-block}.gps-604266225438032559 .gp-flex{display:flex}.gps-604266225438032559 .gp-inline-flex{display:inline-flex}.gps-604266225438032559 .gp-grid{display:grid}.gps-604266225438032559 .\!gp-hidden{display:none!important}.gps-604266225438032559 .gp-hidden{display:none}.gps-604266225438032559 .gp-h-auto{height:auto}.gps-604266225438032559 .gp-h-full{height:100%}.gps-604266225438032559 .gp-w-\[0\.01px\]{width:.01px}.gps-604266225438032559 .gp-w-full{width:100%}.gps-604266225438032559 .gp-max-w-full{max-width:100%}.gps-604266225438032559 .gp-flex-none{flex:none}.gps-604266225438032559 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-604266225438032559 .gp-flex-col{flex-direction:column}.gps-604266225438032559 .gp-items-center{align-items:center}.gps-604266225438032559 .gp-overflow-hidden{overflow:hidden}.gps-604266225438032559 .gp-transition-all{transition-duration:.15s;transition-property:all;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604266225438032559 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-604266225438032559 .gp-duration-200{transition-duration:.2s}.gps-604266225438032559 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-604266225438032559 .tablet\:\!gp-hidden{display:none!important}.gps-604266225438032559 .tablet\:gp-hidden{display:none}.gps-604266225438032559 .tablet\:gp-h-auto{height:auto}.gps-604266225438032559 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-604266225438032559 .mobile\:\!gp-hidden{display:none!important}.gps-604266225438032559 .mobile\:gp-hidden{display:none}.gps-604266225438032559 .mobile\:gp-h-auto{height:auto}.gps-604266225438032559 .mobile\:gp-flex-none{flex:none}}.gps-604266225438032559 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"type":"color","color":"transparent","image":{"src":"","width":0,"height":0},"size":"cover","position":{"x":50,"y":50},"repeat":"no-repeat","attachment":"scroll"}},"uid":"gz-i3vmuDM"}' data-id="gz-i3vmuDM" id="gz-i3vmuDM" data-same-height-subgrid-container class="gz-i3vmuDM gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--pt:var(--g-s-2xl);--pb:var(--g-s-2xl);--d:grid;--d-tablet:grid;--d-mobile:grid;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--op:100%;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gXGLEXWi7T gp-relative gp-flex gp-flex-col"
    >
      
  <script src="https://assets.gemcommerce.com/assets-v2/gp-marquee-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-marquee data-id="gUER9h9cgu" gp-data='{"setting":{"activeItem":"0","childItem":["Item 1","Item 2","Item 3","Item 4","Item 5","Item 6","Item 7","Item 8"],"direction":"left","hasItemShadow":false,"hoverItem":"0","iconSeparatorSvg":"<svg height=\"100%\" width=\"100%\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 256 256\" fill=\"currentColor\">\n              <path fill=\"currentColor\" strokelinecap=\"round\" strokelinejoin=\"round\" d=\"M232,128A104,104,0,1,1,128,24,104.13,104.13,0,0,1,232,128Z\"></path></svg>","isPreview":false,"isShowIconSeparator":false,"itemWidthType":{"desktop":"CUSTOM","mobile":"CUSTOM","tablet":"CUSTOM"},"speed":"0.5","stopOnHover":false,"uid":"gUER9h9cgu"},"styles":{"align":{"desktop":"center"},"backgroundColor":{"desktop":"transparent"},"iconSeparatorColor":"#0C0C0C","iconSeparatorSize":{"desktop":24,"mobile":24,"tablet":24},"itemBackgroundColor":{"desktop":"transparent"},"itemBorderStyle":{"border":"none","borderType":"none","borderWidth":"1px","color":"#000000","isCustom":false,"width":"1px 1px 1px 1px"},"itemCorner":{"radiusType":"none"},"itemMaxWidth":{"desktop":"280px","mobile":"Auto","tablet":"300px"},"itemShadow":{"angle":90,"blur":"12px","color":"#121212","distance":"4px","spread":"0px","type":"shadow-1"},"itemSpacing":{"desktop":"12px","mobile":"12px","tablet":"12px"},"sizeSetting":{"desktop":{"gap":"","height":"","shapeLinked":false,"width":"120%"},"tablet":{"customShapeValue":"","gap":"","height":"Auto","shape":"","shapeLinked":false,"shapeValue":"","width":"100%"}}}}'
   class="gUER9h9cgu">
   <div class="gp-flex gp-w-full gp-relative" style="--jc:center">
      <div class="!gp-relative" style="--h:auto;--h-tablet:Auto;--h-mobile:Auto;--w:120%;--w-tablet:100%;--w-mobile:100%;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pb:0px;--bg:transparent">
         <div class="gem-marquee gp-overflow-hidden gp-flex gp-items-center gp-w-full gp-h-full gUER9h9cgu">
            <div class="gp-overflow-hidden gp-w-full gp-h-full">
               
  <div style="--pause-on-hover:running;--pause-on-click:running;--width:100%;--transform:none;min-width:100%" class="rfm-marquee-container">
    <div class="rfm-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto">
      <div class="rfm-initial-child-container">
        
        <div style="--transform:none;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto" class="rfm-child">
          
               <div class="gp-flex gp-items-center gp-marque-child-item gem-child-marquee-item gp-w-full">
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:12px;--pr-tablet:12px;--pr-mobile:12px;text-wrap:wrap;--w:280px;--w-tablet:300px;--w-mobile:NaNpx;--minw:280px;--minw-tablet:300px;--minw-mobile:NaNpx;--maxw:280px;--maxw-tablet:300px;--maxw-mobile:NaNpx">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gBU0GKWXq0 gem-marquee-item-gBU0GKWXq0"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gaHqh_St3L"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pt:30px;--pb:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769852962444 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gaHqh_St3L"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="540" height="810" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "300af0ad-ddd1-4aca-a885-5a7e3ffcdd6c.webp" | file_url }}" isNotLazyload="true" srcset base-src="{{ "300af0ad-ddd1-4aca-a885-5a7e3ffcdd6c.webp" | file_url }}" loading="lazy"
      id=""
      style="--w:280px;--w-tablet:356px;--w-mobile:205px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--radiusType:custom;--shadow:none;--aspect:280/384;--aspect-tablet:356/443;--aspect-mobile:205/254;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:12px;--pr-tablet:12px;--pr-mobile:12px;text-wrap:wrap;--w:280px;--w-tablet:300px;--w-mobile:NaNpx;--minw:280px;--minw-tablet:300px;--minw-mobile:NaNpx;--maxw:280px;--maxw-tablet:300px;--maxw-mobile:NaNpx">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gLTFM-oPm6 gem-marquee-item-gLTFM-oPm6"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gEm0cvB-VH"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pt:0px;--pb:30px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769852962444 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gEm0cvB-VH"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="540" height="810" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "82d0c51c-aea5-4c38-8f56-2b00eac3c1a3.webp" | file_url }}" isNotLazyload="true" srcset base-src="{{ "82d0c51c-aea5-4c38-8f56-2b00eac3c1a3.webp" | file_url }}" loading="lazy"
      id=""
      style="--w:280px;--w-tablet:356px;--w-mobile:205px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--radiusType:custom;--shadow:none;--aspect:280/384;--aspect-tablet:356/443;--aspect-mobile:205/254;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:12px;--pr-tablet:12px;--pr-mobile:12px;text-wrap:wrap;--w:280px;--w-tablet:300px;--w-mobile:NaNpx;--minw:280px;--minw-tablet:300px;--minw-mobile:NaNpx;--maxw:280px;--maxw-tablet:300px;--maxw-mobile:NaNpx">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  ggjOVgxU2i gem-marquee-item-ggjOVgxU2i"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="g81uTXGi9c"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pt:30px;--pb:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769852962445 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g81uTXGi9c"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="540" height="810" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "a7528152-f98e-41ab-a0a0-45bbe01b443a.webp" | file_url }}" isNotLazyload="true" srcset base-src="{{ "a7528152-f98e-41ab-a0a0-45bbe01b443a.webp" | file_url }}" loading="lazy"
      id=""
      style="--w:280px;--w-tablet:356px;--w-mobile:205px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--radiusType:custom;--shadow:none;--aspect:280/384;--aspect-tablet:356/443;--aspect-mobile:205/254;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:12px;--pr-tablet:12px;--pr-mobile:12px;text-wrap:wrap;--w:280px;--w-tablet:300px;--w-mobile:NaNpx;--minw:280px;--minw-tablet:300px;--minw-mobile:NaNpx;--maxw:280px;--maxw-tablet:300px;--maxw-mobile:NaNpx">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gyntrWUZf1 gem-marquee-item-gyntrWUZf1"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gkRrXFvMrh"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pt:0px;--pb:30px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769852962445 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gkRrXFvMrh"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="540" height="810" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "554736ca-617e-4f94-b2c6-329239847a03.webp" | file_url }}" isNotLazyload="true" srcset base-src="{{ "554736ca-617e-4f94-b2c6-329239847a03.webp" | file_url }}" loading="lazy"
      id=""
      style="--w:280px;--w-tablet:356px;--w-mobile:205px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--radiusType:custom;--shadow:none;--aspect:280/384;--aspect-tablet:356/443;--aspect-mobile:205/254;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:12px;--pr-tablet:12px;--pr-mobile:12px;text-wrap:wrap;--w:280px;--w-tablet:300px;--w-mobile:NaNpx;--minw:280px;--minw-tablet:300px;--minw-mobile:NaNpx;--maxw:280px;--maxw-tablet:300px;--maxw-mobile:NaNpx">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gsNLFg-ybu gem-marquee-item-gsNLFg-ybu"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="g5soGsW1R8"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pt:30px;--pb:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769852962445 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g5soGsW1R8"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="540" height="810" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "c000c441-3d29-4fa5-8861-cfcc845b2250.webp" | file_url }}" isNotLazyload="true" srcset base-src="{{ "c000c441-3d29-4fa5-8861-cfcc845b2250.webp" | file_url }}" loading="lazy"
      id=""
      style="--w:280px;--w-tablet:356px;--w-mobile:205px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--radiusType:custom;--shadow:none;--aspect:280/384;--aspect-tablet:356/443;--aspect-mobile:205/254;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:12px;--pr-tablet:12px;--pr-mobile:12px;text-wrap:wrap;--w:280px;--w-tablet:300px;--w-mobile:NaNpx;--minw:280px;--minw-tablet:300px;--minw-mobile:NaNpx;--maxw:280px;--maxw-tablet:300px;--maxw-mobile:NaNpx">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gEhchOhF6n gem-marquee-item-gEhchOhF6n"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="g8XFJFUvLv"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pt:0px;--pb:30px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769852962445 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto g8XFJFUvLv"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="540" height="810" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "9324ba28-8c7b-43a2-89e0-db77bd44f82c.webp" | file_url }}" isNotLazyload="true" srcset base-src="{{ "9324ba28-8c7b-43a2-89e0-db77bd44f82c.webp" | file_url }}" loading="lazy"
      id=""
      style="--w:280px;--w-tablet:356px;--w-mobile:205px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--radiusType:custom;--shadow:none;--aspect:280/384;--aspect-tablet:356/443;--aspect-mobile:205/254;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:12px;--pr-tablet:12px;--pr-mobile:12px;text-wrap:wrap;--w:280px;--w-tablet:300px;--w-mobile:NaNpx;--minw:280px;--minw-tablet:300px;--minw-mobile:NaNpx;--maxw:280px;--maxw-tablet:300px;--maxw-mobile:NaNpx">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  g6hAJLc0BN gem-marquee-item-g6hAJLc0BN"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gyEoSJLenj"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pt:30px;--pb:0px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769852962446 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gyEoSJLenj"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="540" height="810" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "dafa598e-2464-4a4e-8a51-5b96a9b790c8.webp" | file_url }}" isNotLazyload="true" srcset base-src="{{ "dafa598e-2464-4a4e-8a51-5b96a9b790c8.webp" | file_url }}" loading="lazy"
      id=""
      style="--w:280px;--w-tablet:356px;--w-mobile:205px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--radiusType:custom;--shadow:none;--aspect:280/384;--aspect-tablet:356/443;--aspect-mobile:205/254;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
                  <div class="gp-inline-flex gp-items-center gp-relative gp-transition-all"
                     style="--pr:12px;--pr-tablet:12px;--pr-mobile:12px;text-wrap:wrap;--w:280px;--w-tablet:300px;--w-mobile:NaNpx;--minw:280px;--minw-tablet:300px;--minw-mobile:NaNpx;--maxw:280px;--maxw-tablet:300px;--maxw-mobile:NaNpx">
                     <div
      class="gp-relative gp-overflow-hidden gem-marquee-item  gj5TJUH5j- gem-marquee-item-gj5TJUH5j-"
      style="--bg:transparent;--w:calc(100%);--w-tablet:calc(100%);--w-mobile:calc(100%);--shadow:none;--b:none;--bw:1px 1px 1px 1px;--bc:#000000"
    >
      <div className="first-block gp-w-[0.01px]"></div>
      
    <div
      role="presentation"
      data-id="gztpgEZO_D"
      style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--pt:0px;--pb:30px;--ta:center"
      class="gp-group/image gp-relative force-publish-1769852962446 gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto gztpgEZO_D"
    >
      <div
        
        style="border-radius:inherit;--jc:center"
        class="gp-h-full gp-w-full gp-flex pointer-events-auto"
      >
        
    <img
      width="540" height="810" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "9839325b-e3de-4348-8411-41d1d77bf050.webp" | file_url }}" isNotLazyload="true" srcset base-src="{{ "9839325b-e3de-4348-8411-41d1d77bf050.webp" | file_url }}" loading="lazy"
      id=""
      style="--w:280px;--w-tablet:356px;--w-mobile:205px;--h:auto;--h-tablet:auto;--h-mobile:auto;--b:none;--bc:#000000;--bw:1px 1px 1px 1px;--bblr:6px;--bbrr:6px;--btlr:6px;--btrr:6px;--radiusType:custom;--shadow:none;--aspect:280/384;--aspect-tablet:356/443;--aspect-mobile:205/254;--objf:cover"
      class="gp-inline-block gp-w-full gp-max-w-full gp_lazyload"
    />
      </div>
    </div>
  
    </div>
                     
                  </div>
                  
               </div>
               
        </div>
        
      </div>
    </div>
    <div class="rfm-marquee placeholder-marquee" style="--play:running;--direction:normal;--delay:0s;--iteration-count:infinite;--min-width:auto;--w:auto;--w-tablet:auto;--w-mobile:auto;--minw:auto;--minw-tablet:auto;--minw-mobile:auto"></div>
  </div>
  
            </div>
         </div>
      </div>
   </div>
</gp-marquee>

    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-604266225438032559 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_PRODUCT&editorId=604265302506603179&sectionId=604266225438032559)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}