
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-612460810270278243.gps.gpsil [style*="--as:"]{align-self:var(--as)}.gps-612460810270278243.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-612460810270278243.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-612460810270278243.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-612460810270278243.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-612460810270278243.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-612460810270278243.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-612460810270278243.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-612460810270278243.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-612460810270278243.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-612460810270278243.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-612460810270278243.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-612460810270278243.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-612460810270278243.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-612460810270278243.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-612460810270278243.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-612460810270278243.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-612460810270278243.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-612460810270278243.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-612460810270278243.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-612460810270278243.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-612460810270278243.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-612460810270278243.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-612460810270278243.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-612460810270278243.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-612460810270278243.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-612460810270278243.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-612460810270278243.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-612460810270278243.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-612460810270278243.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-612460810270278243.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-612460810270278243.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-612460810270278243.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-612460810270278243.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-612460810270278243.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-612460810270278243.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-612460810270278243.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-612460810270278243.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-612460810270278243.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-612460810270278243.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-612460810270278243.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-612460810270278243.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-612460810270278243.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-612460810270278243.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-612460810270278243.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-612460810270278243.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-612460810270278243.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-612460810270278243.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-612460810270278243.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-612460810270278243.gps.gpsil [style*="--w:"]{width:var(--w)}@media only screen and (max-width:1024px){.gps-612460810270278243.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-612460810270278243.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-612460810270278243.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-612460810270278243.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-612460810270278243.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-612460810270278243.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-612460810270278243.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-612460810270278243.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-612460810270278243.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-612460810270278243.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-612460810270278243.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}}@media only screen and (max-width:767px){.gps-612460810270278243.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-612460810270278243.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-612460810270278243.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-612460810270278243.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-612460810270278243.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-612460810270278243.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-612460810270278243.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-612460810270278243.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-612460810270278243.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-612460810270278243.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-612460810270278243.gps.gpsil [style*="--ta-mobile:"]{text-align:var(--ta-mobile)}.gps-612460810270278243.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}}.gps-612460810270278243 .-gp-translate-x-1\/2,.gps-612460810270278243 .-gp-translate-y-1\/2{--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1}.gps-612460810270278243 .gp-visible{visibility:visible}.gps-612460810270278243 .gp-invisible{visibility:hidden}.gps-612460810270278243 .gp-absolute{position:absolute}.gps-612460810270278243 .gp-relative{position:relative}.gps-612460810270278243 .gp-left-1\/2{left:50%}.gps-612460810270278243 .gp-top-1\/2{top:50%}.gps-612460810270278243 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-612460810270278243 .gp-mb-0{margin-bottom:0}.gps-612460810270278243 .gp-flex{display:flex}.gps-612460810270278243 .gp-grid{display:grid}.gps-612460810270278243 .\!gp-hidden{display:none!important}.gps-612460810270278243 .gp-hidden{display:none}.gps-612460810270278243 .gp-h-full{height:100%}.gps-612460810270278243 .gp-w-\[68px\]{width:68px}.gps-612460810270278243 .gp-w-full{width:100%}.gps-612460810270278243 .\!gp-max-w-none{max-width:none!important}.gps-612460810270278243 .gp-max-w-full{max-width:100%}.gps-612460810270278243 .-gp-translate-x-1\/2{--tw-translate-x:-50%}.gps-612460810270278243 .-gp-translate-x-1\/2,.gps-612460810270278243 .-gp-translate-y-1\/2{transform:translate(var(--tw-translate-x),var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))}.gps-612460810270278243 .-gp-translate-y-1\/2{--tw-translate-y:-50%}.gps-612460810270278243 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-612460810270278243 .gp-flex-col{flex-direction:column}.gps-612460810270278243 .gp-overflow-hidden{overflow:hidden}.gps-612460810270278243 .gp-bg-black{--tw-bg-opacity:1;background-color:rgb(0 0 0/var(--tw-bg-opacity,1))}.gps-612460810270278243 .gp-bg-cover{background-size:cover}.gps-612460810270278243 .gp-bg-center{background-position:50%}.gps-612460810270278243 .gp-opacity-100{opacity:1}.gps-612460810270278243 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-612460810270278243 .gp-duration-200{transition-duration:.2s}.gps-612460810270278243 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-612460810270278243 .tablet\:\!gp-hidden{display:none!important}.gps-612460810270278243 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-612460810270278243 .mobile\:\!gp-hidden{display:none!important}.gps-612460810270278243 .mobile\:gp-hidden{display:none}}.gps-612460810270278243 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-612460810270278243 .\[\&_\>_article\]\:gp-aspect-\[var\(--aspect\)\]>article{aspect-ratio:var(--aspect)}@media (max-width:1024px){.gps-612460810270278243 .tablet\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-tablet\2c _var\(--aspect\)\)\]>article{aspect-ratio:var(--aspect-tablet,var(--aspect))}}@media (max-width:767px){.gps-612460810270278243 .mobile\:\[\&_\>_article\]\:gp-aspect-\[var\(--aspect-mobile\2c _var\(--aspect-tablet\2c _var\(--aspect\)\)\)\]>article{aspect-ratio:var(--aspect-mobile,var(--aspect-tablet,var(--aspect)))}}</style>
    
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:calc(var(--g-ct-w, 1200px) + 2 * var(--g-ct-p, 15px));--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#FFFFFF","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gKY9gUqbor"}' data-id="gKY9gUqbor" id="gKY9gUqbor" data-same-height-subgrid-container class="gKY9gUqbor gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ml:auto;--mb:40px;--mr:auto;--pt:2px;--pl:60px;--pb:0px;--pr:60px;--ml-mobile:auto;--mr-mobile:auto;--pt-mobile:2px;--pl-mobile:20px;--pb-mobile:0px;--pr-mobile:20px;--ml-tablet:auto;--mb-tablet:40px;--mr-tablet:auto;--pt-tablet:2px;--pl-tablet:60px;--pb-tablet:0px;--pr-tablet:60px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gZy9VaZVJk gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g7Ab2uXtqk"
        class="g7Ab2uXtqk"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-l);--ml:0px;--mb:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:var(--g-s-l);--ml-mobile:0px;--mb-mobile:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:var(--g-s-l);--ml-tablet:0px;--mb-tablet:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-ABCRepro, 'ABCRepro'), var(--g-font-heading, heading);--size:56px;--size-tablet:46px;--size-mobile:26px;--lh:120%;--lh-tablet:130%;--lh-mobile:120%;--ls:0px;--weight:bold;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg7Ab2uXtqk_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gK54Z-wJ2L"
        class="gK54Z-wJ2L"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_STATIC;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-l);--ml:0px;--mb:40px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--mt-mobile:var(--g-s-l);--ml-mobile:0px;--mb-mobile:30px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--mt-tablet:var(--g-s-l);--ml-tablet:0px;--mb-tablet:40px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <h2
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:left;--ta-mobile:left;--ff:var(--g-font-ABCRepro-Screen, 'ABCRepro-Screen'), var(--g-font-heading, heading);--size:32px;--size-tablet:46px;--size-mobile:18px;--lh:120%;--lh-tablet:130%;--lh-mobile:120%;--ls:0px;--weight:bold;--c:#17162E;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggK54Z-wJ2L_text | replace: '$locationOrigin', locationOrigin }}
        </h2>
      </div>
    </div>
    
    <div
       data-id="g2Plp1QFqs" class="g2Plp1QFqs !gp-max-w-none gp-bg-black gp-overflow-hidden [&_>_article]:gp-aspect-[var(--aspect)] tablet:[&_>_article]:gp-aspect-[var(--aspect-tablet,_var(--aspect))] mobile:[&_>_article]:gp-aspect-[var(--aspect-mobile,_var(--aspect-tablet,_var(--aspect)))] gp-relative" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:10px;--bbrr:10px;--btlr:10px;--btrr:10px;--mb:40px;--mb-mobile:30px;--aspect:16/9">
      
    <gp-lite-youtube-embed gp-data='{"lazy":true,"style":{"--aspect":"16/9"},"title":"Video","iframeSrc":"https://www.youtube-nocookie.com/embed/QK2G_u27SV0?autoplay=true&state=1&mute=1&controls=1"}'>
      <article
        aria-hidden
        class="gp-relative gp-bg-cover gp-bg-center gp-lite-youtube-embed-article"
        data-title="Video"
        style="background-image:url({{ "1._website_thumbnail_night_face_cream.webp" | file_url }});--aspect:16/9"
      >
        
    <img
      alt="Alt image" width="2237" height="1678" draggable="false" quality-type quality-percent data-sizes="auto" sizes="100vw" src="{{ "1._website_thumbnail_night_face_cream.webp" | file_url }}" isNotLazyload="true" srcset loading="eager" fetchpriority="high"
      id="gp-video-g2Plp1QFqs"
      
      class="gp-invisible gp-w-full gp-h-full gp_lazyforbg"
    />
        <button type="button" aria-label="Play" class="gp-absolute gp-left-1/2 gp-top-1/2 gp-w-[68px] -gp-translate-x-1/2 -gp-translate-y-1/2 gp-lite-youtube-embed-button gp-visible gp-opacity-100">
          <svg height="100%" version="1.1" viewBox="0 0 68 48" width="100%">
            <path
              d="M66.52,7.74c-0.78-2.93-2.49-5.41-5.42-6.19C55.79,.13,34,0,34,0S12.21,.13,6.9,1.55 C3.97,2.33,2.27,4.81,1.48,7.74C0.06,13.05,0,24,0,24s0.06,10.95,1.48,16.26c0.78,2.93,2.49,5.41,5.42,6.19 C12.21,47.87,34,48,34,48s21.79-0.13,27.1-1.55c2.93-0.78,4.64-3.26,5.42-6.19C67.94,34.95,68,24,68,24S67.94,13.05,66.52,7.74z"
              fill="#f00"
            ></path>
            <path d="M 45,24 27,14 27,34" fill="#fff"></path>
          </svg>
        </button>
        
      </article>
    </gp-lite-youtube-embed>
    <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-lite-youtube-embed-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
    </div>
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-612460810270278243 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=612460810186261091&sectionId=612460810270278243)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"gg7Ab2uXtqk_text","label":"gg7Ab2uXtqk_text","default":"<span style=\"background-color:rgb(255,255,255);color:#17162E;font-size:px;\">The Italian Evening Routine - A Guide To Your SerlinoLab Night Cream</span>"},{"type":"html","id":"ggK54Z-wJ2L_text","label":"ggK54Z-wJ2L_text","default":"<strong>Everything you need to know - how much to apply, when to apply it, and the simple 2-step routine Italian men swear by.</strong>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}