
    
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-600495993288459109.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-600495993288459109.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-600495993288459109.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-600495993288459109.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-600495993288459109.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-600495993288459109.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-600495993288459109.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-600495993288459109.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-600495993288459109.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-600495993288459109.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-600495993288459109.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-600495993288459109.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-600495993288459109.gps.gpsil [style*="--bl:"]{border-left:var(--bl)}.gps-600495993288459109.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-600495993288459109.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-600495993288459109.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-600495993288459109.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-600495993288459109.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-600495993288459109.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-600495993288459109.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-600495993288459109.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-600495993288459109.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-600495993288459109.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-600495993288459109.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-600495993288459109.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-600495993288459109.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-600495993288459109.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-600495993288459109.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-600495993288459109.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-600495993288459109.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-600495993288459109.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-600495993288459109.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-600495993288459109.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-600495993288459109.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-600495993288459109.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-600495993288459109.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-600495993288459109.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-600495993288459109.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-600495993288459109.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-600495993288459109.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-600495993288459109.gps.gpsil [style*="--rg:"]{row-gap:var(--rg)}.gps-600495993288459109.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-600495993288459109.gps.gpsil [style*="--ts:"]{text-shadow:var(--ts)}.gps-600495993288459109.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-600495993288459109.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-600495993288459109.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-600495993288459109.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-600495993288459109.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-600495993288459109.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-600495993288459109.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-600495993288459109.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-600495993288459109.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-600495993288459109.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-600495993288459109.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-600495993288459109.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-600495993288459109.gps.gpsil [style*="--rg-tablet:"]{row-gap:var(--rg-tablet)}.gps-600495993288459109.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-600495993288459109.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-600495993288459109.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-600495993288459109.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-600495993288459109.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-600495993288459109.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-600495993288459109.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-600495993288459109.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-600495993288459109.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-600495993288459109.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-600495993288459109.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-600495993288459109.gps.gpsil [style*="--rg-mobile:"]{row-gap:var(--rg-mobile)}.gps-600495993288459109.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-600495993288459109.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-600495993288459109 .gp-g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-600495993288459109 .gp-relative{position:relative}.gps-600495993288459109 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-600495993288459109 .gp-mb-0{margin-bottom:0}.gps-600495993288459109 .gp-flex{display:flex}.gps-600495993288459109 .gp-inline-flex{display:inline-flex}.gps-600495993288459109 .gp-grid{display:grid}.gps-600495993288459109 .\!gp-hidden{display:none!important}.gps-600495993288459109 .gp-hidden{display:none}.gps-600495993288459109 .gp-h-full{height:100%}.gps-600495993288459109 .gp-max-w-full{max-width:100%}.gps-600495993288459109 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-600495993288459109 .gp-flex-col{flex-direction:column}.gps-600495993288459109 .gp-items-center{align-items:center}.gps-600495993288459109 .gp-justify-center{justify-content:center}.gps-600495993288459109 .gp-overflow-hidden{overflow:hidden}.gps-600495993288459109 .gp-break-words{overflow-wrap:break-word}.gps-600495993288459109 .gp-text-center{text-align:center}.gps-600495993288459109 .gp-no-underline{text-decoration-line:none}.gps-600495993288459109 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-600495993288459109 .gp-duration-200{transition-duration:.2s}.gps-600495993288459109 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-600495993288459109 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-600495993288459109 .disabled\:gp-opacity-30:disabled{opacity:.3}.gps-600495993288459109 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-600495993288459109 .gp-group[data-state=loading] .group-data-\[state\=loading\]\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-600495993288459109 .tablet\:\!gp-hidden{display:none!important}.gps-600495993288459109 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-600495993288459109 .mobile\:\!gp-hidden{display:none!important}.gps-600495993288459109 .mobile\:gp-hidden{display:none}}.gps-600495993288459109 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-600495993288459109 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}</style>
    <style {% if section.settings.section_preload == "false" %} class="gps-link" type="text/disabled-css" {% endif %}>@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaooCP.ttf) format('truetype');
}
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/raleway/v37/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVs9pYCP.ttf) format('truetype');
}
</style>
  
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--w-mobile:calc(var(--g-ct-w, 100%) + 2 * var(--g-ct-p, 15px));--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#051723","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"preload":false,"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"grLg9zQFDV"}' data-id="grLg9zQFDV" id="grLg9zQFDV" data-same-height-subgrid-container class="grLg9zQFDV gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--blockPadding:base;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:80px;--pl:20px;--pb:80px;--pr:20px;--pt-mobile:40px;--pl-mobile:20px;--pb-mobile:40px;--pr-mobile:20px;--pt-tablet:80px;--pl-tablet:20px;--pb-tablet:80px;--pr-tablet:20px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:100%;--bgc:#051723;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="g0sUgO89Nm gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"uid":"gQ7_FdD4Os"}' data-id="gQ7_FdD4Os" id="gQ7_FdD4Os" data-same-height-subgrid-container class="gQ7_FdD4Os gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--pt:0px;--pl:0px;--pb:0px;--pr:0px;--pt-mobile:0px;--pl-mobile:0px;--pb-mobile:0px;--pr-mobile:0px;--pt-tablet:0px;--pl-tablet:0px;--pb-tablet:0px;--pr-tablet:0px;--cg:16px;--rg:0px;--gtc:minmax(0, 12fr);--w:1000px;--h:auto;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gdM-32XSSC gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gOKnR2Om-W"
        class="gOKnR2Om-W"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-mobile:0px;--mt-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:26px;--lh-tablet:180%;--lh-mobile:180%;--c:rgba(255, 255, 255, 0.8);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggOKnR2Om-W_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gv6XQMTT4u"
        class="gv6XQMTT4u"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:24px;--mt-mobile:24px;--mt-tablet:24px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:26px;--lh-tablet:180%;--lh-mobile:180%;--c:rgba(255, 255, 255, 0.8);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggv6XQMTT4u_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    

    

    
    <gp-row gp-data='{"uid":"gNhCLa1mDY"}' data-id="gNhCLa1mDY" id="gNhCLa1mDY" data-same-height-subgrid-container class="gNhCLa1mDY gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:40px;--mt-mobile:40px;--mt-tablet:40px;--cg:8px;--rg:16px;--rg-tablet:16px;--rg-mobile:16px;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--gtc-mobile:minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:var(--g-ct-w, 1200px);--h:auto;--pc:center">
      

      <div
      data-same-height-display-contents
      style="--jc:center"
      class="gTf4PUcm8H gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://www.serlinolab.com/policies/privacy-policy","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="g0CX8YCOpf"].gp-button-base::before, [data-id="g0CX8YCOpf-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g0CX8YCOpf"]:hover::before, [data-id="g0CX8YCOpf-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="g0CX8YCOpf" dataId="g0CX8YCOpf" data-state="idle" aria-label="<p>Privacy Policy</p>"
          
          href="https://www.serlinolab.com/policies/privacy-policy" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgi:;--bg:transparent;--c:rgba(255, 255, 255, 0.7)"
          class="g0CX8YCOpf gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg0CX8YCOpf_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gQR81weEN3 gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gZ2KJWr6LK"
        class="gZ2KJWr6LK"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-mobile:0px;--mt-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:26px;--lh-tablet:180%;--lh-mobile:180%;--c:rgba(255, 255, 255, 0.8);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggZ2KJWr6LK_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gW3HVeARE1 gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"https://www.serlinolab.com/policies/terms-of-service","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="glQGEMIDyz"].gp-button-base::before, [data-id="glQGEMIDyz-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="glQGEMIDyz"]:hover::before, [data-id="glQGEMIDyz-interaction"]:hover::before {
    
    
  }</style>
        
        <a
          data-id="glQGEMIDyz" dataId="glQGEMIDyz" data-state="idle" aria-label="<p>Terms of Service</p>"
          
          href="https://www.serlinolab.com/policies/terms-of-service" target="_self"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgi:;--bg:transparent;--c:rgba(255, 255, 255, 0.7)"
          class="glQGEMIDyz gp-text-center gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gglQGEMIDyz_label }}
    </span>
        </div>
        
        </a>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="ghmfrhMCUb gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="g0m1EBaUNX"
        class="g0m1EBaUNX"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:0px;--mt-mobile:0px;--mt-tablet:0px;--dynamic-source-color:#F4F4F4"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--b:none;--bc:#121212;--bw:1px 1px 1px 1px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-Raleway, 'Raleway'), var(--g-font-body, body);--weight:400;--size:18px;--size-tablet:16px;--size-mobile:14px;--lh:26px;--lh-tablet:180%;--lh-mobile:180%;--c:rgba(255, 255, 255, 0.8);--tt:none;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.gg0m1EBaUNX_text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div><div
      data-same-height-display-contents
      style="--jc:center"
      class="gPeNSBzgpX gp-relative gp-flex gp-flex-col"
    >
      
    <gp-button
      gp-data='{"btnLink":{"link":"","target":"_self","type":"open-page"}}'
      
      class="gp-flex gp-flex-col"
    >
      <div style="--bs:none;--bw:1px 1px 1px 1px;--bc:var(--g-c-line-3, line-3);--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:center" >
        <style>[data-id="g5V5V-ZkBR"].gp-button-base::before, [data-id="g5V5V-ZkBR-interaction"].gp-button-base::before {
      
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    pointer-events: none;
    top: 0;
    left: 0;
    border-style: none;
  border-width: 1px 1px 1px 1px;
  border-color: var(--g-c-line-3, line-3);
  
    
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
  
    }
  
      
  [data-id="g5V5V-ZkBR"]:hover::before, [data-id="g5V5V-ZkBR-interaction"]:hover::before {
    
    
  }</style>
        
        <button
          data-id="g5V5V-ZkBR" dataId="g5V5V-ZkBR" data-state="idle" aria-label="<p>Contact Us</p>"
          
          type="button"
          style="--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--bgi:;--bg:transparent;--c:rgba(255, 255, 255, 0.7)"
          class="g5V5V-ZkBR gp-button-base gp-group gp-relative gp-inline-flex gp-max-w-full gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-200 disabled:gp-btn-disabled disabled:gp-opacity-30  gp-g-paragraph-1"
        >
        
        <div class="gp-inline-flex">
          
          
    <span
      data-gp-text
      style="word-break:break-word"
      class="gp-content-product-button group-active/button:!gp-text-inherit gp-relative gp-flex gp-h-full gp-items-center gp-overflow-hidden gp-break-words group-data-[state=loading]:gp-invisible [&_p]:gp-whitespace-pre-line gp-text button-text"
    >
      {{ section.settings.gg5V5V-ZkBR_label }}
    </span>
        </div>
        
        </button>
      </div>
      <script {% if section.settings.section_preload == "false" %}class="gps-link" delay {% else %}src{% endif %}="https://assets.gemcommerce.com/assets-v2/gp-button-v7-5.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    </gp-button>
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
{% schema %}
  {
    
    "name": "Section 8",
    "tag": "section",
    "class": "gps-600495993288459109 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/j0rgbv-09/apps/gempages-cro/app/shopify/edit?pageType=GP_STATIC&editorId=600495993187730277&sectionId=600495993288459109)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggOKnR2Om-W_text","label":"ggOKnR2Om-W_text","default":"<p>The information provided on this page is for educational purposes and should not be construed as medical advice. Individual results may vary based on skin type, consistency of use, and biological factors. If you have specific dermatological conditions, consult with a healthcare provider before beginning any new skincare regimen. Dr. Marco Bianchi's recommendations are based on his professional experience and review of the Omnis Uomo formulation.</p>"},{"type":"html","id":"ggv6XQMTT4u_text","label":"ggv6XQMTT4u_text","default":"<p>© 2025 Omnis Uomo | Made in Italy 🇮🇹</p>"},{"type":"html","id":"gg0CX8YCOpf_label","label":"gg0CX8YCOpf_label","default":"<p>Privacy Policy</p>"},{"type":"html","id":"ggZ2KJWr6LK_text","label":"ggZ2KJWr6LK_text","default":"<p>|</p>"},{"type":"html","id":"gglQGEMIDyz_label","label":"gglQGEMIDyz_label","default":"<p>Terms of Service</p>"},{"type":"html","id":"gg0m1EBaUNX_text","label":"gg0m1EBaUNX_text","default":"<p>|</p>"},{"type":"html","id":"gg5V5V-ZkBR_label","label":"gg5V5V-ZkBR_label","default":"<p>Contact Us</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}