{{ 'kv-lp-new-design-product-italian-formula.css' | asset_url | stylesheet_tag }}

<section class="lp-comparison-table" id="lp-section-{{ section.id }}">
  {% if section.settings.bg_image != blank %}
    <img src="{{ section.settings.bg_image | image_url: width: 2000 }}" class="lp-comparison-table__bg" alt="" loading="lazy">
  {% endif %}
  <div class="lp-comparison-table__overlay" id="lp-comparison-table-overlay" style="background-color: {{ section.settings.overlay_color }}; opacity: {{ section.settings.overlay_opacity }};"></div>

  <div class="lp-comparison-table__container">
    <div class="lp-comparison-table__header">
      <h2 class="lp-comparison-table__heading">{{ section.settings.heading }}</h2>
    </div>

    <div class="lp-comparison-table__wrapper">
      <div class="lp-comparison-table__grid">
        <div class="lp-comparison-table__col lp-comparison-table__col--features">
          {% for block in section.blocks %}
            <div class="lp-comparison-table__cell lp-comparison-table__cell--feature" {{ block.shopify_attributes }}>
              {{ block.settings.feature_name }}
            </div>
          {% endfor %}
        </div>

        <div class="lp-comparison-table__col lp-comparison-table__col--brand">
          <div class="lp-comparison-table__cell lp-comparison-table__cell--header">
           
              <img src="{{ section.settings.brand_logo | image_url: width: 100 }}" alt="Brand Logo" class="lp-comparison-table__logo">
              <span class="lp-comparison-table__brand-name"><svg xmlns="http://www.w3.org/2000/svg" width="54" height="19" viewBox="0 0 54 19" fill="none">
              <g clip-path="url(#clip0_26566_1781)">
                <path d="M4.83524 3.59826L3.7707 3.44115C3.24403 3.35988 2.88545 3.24611 2.68935 3.10525C2.49326 2.96438 2.39801 2.74768 2.39801 2.46054C2.39801 2.298 2.44843 2.14089 2.54928 1.99461C2.65014 1.84833 2.80701 1.72914 3.02552 1.63162C3.24403 1.53952 3.50737 1.49076 3.83233 1.49076C4.17971 1.49076 4.47105 1.55036 4.70637 1.66413C4.94169 1.7779 5.12658 1.9296 5.24984 2.11922C5.37871 2.30884 5.46275 2.52555 5.51878 2.78018H7.62544C7.56381 2.25466 7.39012 1.78874 7.09317 1.37157C6.79622 0.954405 6.37601 0.623923 5.83254 0.380125C5.28906 0.136327 4.62233 0.0117188 3.84914 0.0117188C3.13758 0.0117188 2.52127 0.125491 1.989 0.353036C1.46234 0.580581 1.05333 0.89481 0.761984 1.2903C0.470637 1.6858 0.330566 2.13005 0.330566 2.62307C0.330566 3.35988 0.549077 3.93958 0.9917 4.36216C1.43432 4.78474 2.14028 5.0773 3.12637 5.23983L4.29176 5.42404C4.80162 5.5053 5.14899 5.62991 5.34509 5.80328C5.54119 5.97665 5.63644 6.20419 5.63644 6.49133C5.63644 6.67012 5.57481 6.84348 5.45155 7.00602C5.32828 7.16855 5.14339 7.29857 4.89126 7.40151C4.63914 7.49903 4.33098 7.54779 3.95559 7.54779C3.55219 7.54779 3.21042 7.48278 2.94148 7.35275C2.67255 7.22272 2.47084 7.04936 2.33638 6.83265C2.20751 6.61594 2.12907 6.37756 2.10106 6.11209H0C0.0448226 6.68637 0.224113 7.19022 0.537871 7.63447C0.851629 8.07873 1.30546 8.42004 1.88815 8.66384C2.47084 8.90764 3.1712 9.03225 3.98361 9.03225C4.79602 9.03225 5.47956 8.91848 6.06225 8.69635C6.64495 8.4688 7.09317 8.15458 7.40133 7.74283C7.70948 7.3365 7.86636 6.85432 7.86636 6.30713C7.86636 5.5649 7.60863 4.96353 7.09317 4.51386C6.57771 4.06418 5.82694 3.76079 4.83524 3.60368V3.59826Z" fill="#17162E"/>
                <path d="M8.7666 8.83669H15.2547V7.22763H10.8509V5.22848H14.8569V3.66817H10.8509V1.77738H15.2547V0.18457H8.7666V8.83669Z" fill="#17162E"/>
                <path d="M22.523 5.0822C22.9936 4.87633 23.3578 4.58377 23.6211 4.1937C23.8845 3.80362 24.0133 3.34311 24.0133 2.80134C24.0133 2.25956 23.8845 1.82073 23.6211 1.42523C23.3578 1.02974 22.9936 0.726344 22.523 0.509634C22.0524 0.292925 21.5145 0.18457 20.9038 0.18457H16.3711V8.83669H18.4778V5.39101H19.7888L21.817 8.83669H24.2263L21.9515 5.26641C22.1476 5.21765 22.3381 5.15805 22.5174 5.0822H22.523ZM18.4834 1.81531H20.59C20.9878 1.81531 21.2904 1.90741 21.5033 2.0862C21.7162 2.26498 21.8226 2.52503 21.8226 2.86093C21.8226 3.08306 21.7722 3.26726 21.677 3.41896C21.5817 3.57066 21.4416 3.68443 21.2568 3.77111C21.0775 3.85238 20.8534 3.89572 20.59 3.89572H18.4834V1.82073V1.81531Z" fill="#17162E"/>
                <path d="M27.1164 0.18457H24.9873V8.83669H31.2008V7.11927H27.1164V0.18457Z" fill="#17162E"/>
                <path d="M33.8009 0.18457H31.6719V8.83669H33.8009V0.18457Z" fill="#17162E"/>
                <path d="M41.2646 5.93821L37.8861 0.18457H35.1855V8.83669H37.253V2.64964L40.8332 8.83669H43.2704V0.18457H41.2254L41.2646 5.93821Z" fill="#17162E"/>
                <path d="M53.3541 2.17793C52.9283 1.4953 52.34 0.958939 51.5948 0.57428C50.8497 0.189621 50.0092 0 49.068 0C48.1267 0 47.2863 0.189621 46.5411 0.57428C45.7959 0.958939 45.2132 1.48988 44.7874 2.17793C44.3616 2.86056 44.1543 3.64072 44.1543 4.51839C44.1543 5.39606 44.3672 6.15997 44.7874 6.8426C45.2076 7.52523 45.7959 8.06159 46.5411 8.44625C47.2863 8.83091 48.1267 9.02053 49.068 9.02053C50.0092 9.02053 50.8497 8.83091 51.5948 8.44625C52.34 8.06159 52.9227 7.53065 53.3541 6.8426C53.7799 6.15997 53.9929 5.38523 53.9929 4.51839C53.9929 3.65155 53.7799 2.86598 53.3541 2.17793ZM51.4156 5.9866C51.1802 6.40376 50.8665 6.72341 50.4631 6.95095C50.0597 7.1785 49.6002 7.28685 49.0736 7.28685C48.5469 7.28685 48.0987 7.17308 47.6897 6.95095C47.2807 6.72341 46.9669 6.40376 46.7372 5.9866C46.5075 5.56943 46.3954 5.07642 46.3954 4.51297C46.3954 3.94953 46.5075 3.45652 46.7372 3.03935C46.9669 2.62218 47.2807 2.29712 47.6897 2.06958C48.0931 1.84203 48.5581 1.72826 49.0736 1.72826C49.589 1.72826 50.0485 1.84203 50.4575 2.06958C50.8665 2.29712 51.1802 2.62218 51.4156 3.03935C51.6509 3.45652 51.7629 3.94953 51.7629 4.51297C51.7629 5.07642 51.6453 5.56943 51.4156 5.9866Z" fill="#17162E"/>
                <path d="M8.67338 18.9998L9.39054 17.0711H13.1556L13.8504 18.9998H16.198L12.657 10.3477H9.97884L6.75722 18.2792V17.2824H2.67276V10.3477H0.538086V18.9998H8.67338ZM11.2507 12.0272L12.6122 15.5108H9.93402L11.2507 12.0272Z" fill="#17162E"/>
                <path d="M23.56 15.5866C23.3807 15.2778 23.1454 15.0232 22.8429 14.8335C22.6244 14.6927 22.3834 14.606 22.1313 14.541C22.3386 14.4706 22.5347 14.3839 22.714 14.2538C22.9717 14.0696 23.179 13.8313 23.3303 13.5441C23.4816 13.2516 23.56 12.9265 23.56 12.5689C23.56 12.1355 23.4424 11.7508 23.2127 11.4204C22.9773 11.0899 22.6412 10.8298 22.2041 10.6348C21.7615 10.4452 21.2461 10.3477 20.6578 10.3477H16.3828V18.9998H20.7474C21.3973 18.9998 21.9576 18.9023 22.4171 18.7018C22.8765 18.5013 23.2295 18.225 23.4704 17.8675C23.7113 17.5099 23.8346 17.1036 23.8346 16.6485C23.8346 16.253 23.7449 15.9063 23.5656 15.592L23.56 15.5866ZM20.3104 11.8917C20.5457 11.8917 20.7586 11.9296 20.9379 12.0109C21.1172 12.0867 21.2573 12.2005 21.3525 12.3468C21.4478 12.4931 21.4926 12.6664 21.4926 12.8615C21.4926 13.0565 21.4478 13.2461 21.3525 13.3978C21.2573 13.5495 21.1228 13.6633 20.9379 13.75C20.753 13.8313 20.5457 13.8746 20.3104 13.8746H18.4222V11.8971H20.3104V11.8917ZM21.3077 17.174C21.0836 17.3582 20.7642 17.4503 20.3496 17.4503H18.4222V15.3157H20.3496C20.7642 15.3157 21.0836 15.4132 21.3077 15.6083C21.5318 15.8033 21.6439 16.0688 21.6439 16.4047C21.6439 16.7406 21.5318 16.9898 21.3077 17.174Z" fill="#17162E"/>
                <path d="M27.2171 10.7648C26.9201 10.4885 26.5503 10.3477 26.1133 10.3477C25.8276 10.3477 25.5642 10.4127 25.3345 10.5373C25.0992 10.6619 24.9199 10.8407 24.7798 11.0628C24.6454 11.2903 24.5781 11.545 24.5781 11.843C24.5781 12.2872 24.7238 12.6448 25.0151 12.9157C25.3065 13.192 25.6707 13.3274 26.1133 13.3274C26.399 13.3274 26.6624 13.2678 26.8977 13.1432C27.133 13.0186 27.3179 12.8452 27.458 12.6231C27.5924 12.401 27.6597 12.1409 27.6597 11.843C27.6597 11.3987 27.514 11.0411 27.2171 10.7648ZM27.0097 12.7477C26.7688 12.9753 26.4719 13.0836 26.1133 13.0836C25.7547 13.0836 25.4466 12.9698 25.2112 12.7477C24.9759 12.5256 24.8583 12.2222 24.8583 11.8484C24.8583 11.4745 24.9815 11.1712 25.2225 10.9382C25.4634 10.7052 25.7603 10.5969 26.1189 10.5969C26.4775 10.5969 26.7744 10.7106 27.0154 10.9382C27.2563 11.1657 27.3795 11.4691 27.3795 11.8484C27.3795 12.2276 27.2563 12.5256 27.0154 12.7477H27.0097Z" fill="#17162E"/>
                <path d="M26.5848 11.8209C26.6632 11.745 26.6968 11.6529 26.6968 11.5391C26.6968 11.3983 26.6464 11.2953 26.5512 11.2303C26.4559 11.1653 26.3383 11.1328 26.2038 11.1328H25.6211V12.4602H25.9012V11.9346H26.1253L26.4223 12.4602H26.7529L26.4223 11.913C26.4839 11.8967 26.5456 11.8696 26.5904 11.8263L26.5848 11.8209ZM25.9012 11.3658H26.1926C26.2542 11.3658 26.3046 11.382 26.3439 11.4091C26.3887 11.4362 26.4055 11.485 26.4055 11.55C26.4055 11.6096 26.3831 11.6529 26.3439 11.6854C26.299 11.7179 26.2486 11.7342 26.1926 11.7342H25.9012V11.3658Z" fill="#17162E"/>
              </g>
              <defs>
                <clipPath id="clip0_26566_1781">
                  <rect width="54" height="19" fill="white"/>
                </clipPath>
              </defs>
            </svg></span>
           
          </div>
          {% for block in section.blocks %}
            <div class="lp-comparison-table__cell lp-comparison-table__cell--brand-status">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
              <path d="M12 17L15 20L20 13M28 16C28 17.5759 27.6896 19.1363 27.0866 20.5922C26.4835 22.0481 25.5996 23.371 24.4853 24.4853C23.371 25.5996 22.0481 26.4835 20.5922 27.0866C19.1363 27.6896 17.5759 28 16 28C14.4241 28 12.8637 27.6896 11.4078 27.0866C9.95189 26.4835 8.62902 25.5996 7.51472 24.4853C6.40042 23.371 5.5165 22.0481 4.91345 20.5922C4.31039 19.1363 4 17.5759 4 16C4 12.8174 5.26428 9.76516 7.51472 7.51472C9.76516 5.26428 12.8174 4 16 4C19.1826 4 22.2348 5.26428 24.4853 7.51472C26.7357 9.76516 28 12.8174 28 16Z" stroke="#17162E" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </div>
          {% endfor %}
        </div>

        <div class="lp-comparison-table__col lp-comparison-table__col--others">
          <div class="lp-comparison-table__cell lp-comparison-table__cell--header">
            <span class="lp-comparison-table__others-label">{{ section.settings.others_label }}</span>
          </div>
          {% for block in section.blocks %}
            <div class="lp-comparison-table__cell lp-comparison-table__cell--others-status">
              <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
              <path d="M13 13L19 19M19 13L13 19M28 16C28 17.5759 27.6896 19.1363 27.0866 20.5922C26.4835 22.0481 25.5996 23.371 24.4853 24.4853C23.371 25.5996 22.0481 26.4835 20.5922 27.0866C19.1363 27.6896 17.5759 28 16 28C14.4241 28 12.8637 27.6896 11.4078 27.0866C9.95189 26.4835 8.62902 25.5996 7.51472 24.4853C6.40042 23.371 5.5165 22.0481 4.91345 20.5922C4.31039 19.1363 4 17.5759 4 16C4 12.8174 5.26428 9.76516 7.51472 7.51472C9.76516 5.26428 12.8174 4 16 4C19.1826 4 22.2348 5.26428 24.4853 7.51472C26.7357 9.76516 28 12.8174 28 16Z" stroke="white" stroke-opacity="0.7" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="lp-comparison-table__badge">
      <div class="lp-comparison-table__badge-icon">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10 18C14.4183 18 18 14.4183 18 10C18 5.58172 14.4183 2 10 2C5.58172 2 2 5.58172 2 10C2 14.4183 5.58172 18 10 18Z" fill="#0A1124"/><path d="M13.5 8L9.5 12L7.5 10" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/></svg>
      </div>
      <p class="lp-comparison-table__badge-text">{{ section.settings.badge_text }}</p>
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Comparison Table",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Heading",
      "default": "Italian formula. Not generic."
    },
    {
      "type": "image_picker",
      "id": "brand_logo",
      "label": "Brand Logo"
    },
    {
      "type": "text",
      "id": "others_label",
      "label": "Competitor Label",
      "default": "Others"
    },
    {
      "type": "text",
      "id": "badge_text",
      "label": "Badge Text",
      "default": "96% notices visible results in ~4 weeks. *"
    },
    {
      "type": "image_picker",
      "id": "bg_image",
      "label": "Background Image"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay Color",
      "default": "#0A1124"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 1,
      "step": 0.1,
      "label": "Overlay Opacity",
      "default": 0.7
    }
  ],
  "blocks": [
    {
      "type": "row",
      "name": "Feature Row",
      "settings": [
        {
          "type": "text",
          "id": "feature_name",
          "label": "Feature Name"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Comparison Table",
      "blocks": [
        { "type": "row", "settings": { "feature_name": "Hydrates skin" } },
        { "type": "row", "settings": { "feature_name": "Stimulates new collagen production" } },
        { "type": "row", "settings": { "feature_name": "Won't cause redness, peeling, or irritation" } },
        { "type": "row", "settings": { "feature_name": "Recommended by Pharmacists in Italy" } },
        { "type": "row", "settings": { "feature_name": "No alcohol, silicones, or parabens" } },
        { "type": "row", "settings": { "feature_name": "Made in a 38-year-old family lab in Italy" } }
      ]
    }
  ]
}
{% endschema %}