{{ 'kv-lp-new-design-product-day-money-back-guarantee.css' | asset_url | stylesheet_tag }}
<section class="lp-guarantee" id="lp-guarantee-{{ section.id }}">
  {%- if section.settings.background_image != blank -%}
    <picture class="lp-guarantee__bg-image" id="lp-guarantee-bg-image">
      {%- if section.settings.mobile_background_image != blank -%}
        <source media="(max-width: 749px)" srcset="{{ section.settings.mobile_background_image | image_url: width: 800 }}">
      {%- endif -%}
      <img
        src="{{ section.settings.background_image | image_url: width: 2000 }}"
        alt="{{ section.settings.background_image.alt | escape }}"
        loading="lazy">
    </picture>
  {%- endif -%}
  <div class="lp-guarantee__overlay"></div>

  <div class="lp-guarantee__container">
    {%- if section.settings.icon != blank -%}
      <div class="lp-guarantee__icon">
        {{ section.settings.icon | image_url: width: 200 | image_tag: loading: 'lazy' }}
      </div>
    {%- endif -%}

    <div class="lp-guarantee__content">
      <h2 class="lp-guarantee__title">{{ section.settings.title }}</h2>
      <div class="lp-guarantee__subtitle">{{ section.settings.subtitle }}</div>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Guarantee Section",
    "settings": [
      {
        "type": "image_picker",
        "id": "background_image",
        "label": "Background Image for Desktop"
      },
      {
        "type": "image_picker",
        "id": "mobile_background_image",
        "label": "Mobile Background Image"
      },
      {
        "type": "image_picker",
        "id": "icon",
        "label": "Icon"
      },
      {
        "type": "richtext",
        "id": "title",
        "label": "Title",
        "default": "60-day money-back guarantee"
      }, {
        "type": "richtext",
        "id": "subtitle",
        "label": "Subtitle",
        "default": "<p>Every bottle is backed by our 60-day money-back promise, so you can try it with confidence.</p>"
      }
    ],
    "presets": [
      {
        "name": "Guarantee Section",
        "settings": {
          "title": "60-day money-back guarantee",
          "subtitle": "<p>Every bottle is backed by our 60-day money-back promise, so you can try it with confidence.</p>"
        }
      }
    ]
  }
{% endschema %}